resource "azurerm_application_insights_web_test" "{{ tf_name }}" {
    application_insights_id        = "{{ application_insights_id }}"
    configuration                  = "{{ configuration }}"
    description                    = "{{ description }}"
    enabled                        = {{ "true" if enabled else "false" }}
    frequency                      = {{ frequency }}
    geo_locations                  = [{% for i_0 in geo_locations %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

#   id                             = "{{ id }}"
    kind                           = "{{ kind }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
    retry_enabled                  = {{ "true" if retry_enabled else "false" }}
#   synthetic_monitor_id           = "{{ synthetic_monitor_id }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    timeout                        = {{ timeout }}
}
