resource "azurerm_servicebus_topic" "{{ tf_name }}" {
#   auto_delete_on_idle            = "{{ auto_delete_on_idle }}"
#   default_message_ttl            = "{{ default_message_ttl }}"
#   duplicate_detection_history_time_window = "{{ duplicate_detection_history_time_window }}"
    enable_batched_operations      = {{ "true" if enable_batched_operations else "false" }}
    enable_express                 = {{ "true" if enable_express else "false" }}
    enable_filtering_messages_before_publishing = {{ "true" if enable_filtering_messages_before_publishing else "false" }}
    enable_partitioning            = {{ "true" if enable_partitioning else "false" }}
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
#   max_size_in_megabytes          = {{ max_size_in_megabytes }}
    name                           = "{{ name }}"
    namespace_name                 = "{{ namespace_name }}"
    requires_duplicate_detection   = {{ "true" if requires_duplicate_detection else "false" }}
    resource_group_name            = "{{ resource_group_name }}"
    status                         = "{{ status }}"
    support_ordering               = {{ "true" if support_ordering else "false" }}
}
