resource "azurerm_security_center_workspace" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    scope                          = "{{ scope }}"
    workspace_id                   = "{{ workspace_id }}"
}
