resource "azurerm_api_management_authorization_server" "{{ tf_name }}" {
    api_management_name            = "{{ api_management_name }}"
    authorization_endpoint         = "{{ authorization_endpoint }}"
    authorization_methods          = [{% for i_0 in authorization_methods %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    bearer_token_sending_methods   = [{% for i_0 in bearer_token_sending_methods %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    client_authentication_method   = [{% for i_0 in client_authentication_method %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    client_id                      = "{{ client_id }}"
    client_registration_endpoint   = "{{ client_registration_endpoint }}"
    client_secret                  = "{{ client_secret }}"
    default_scope                  = "{{ default_scope }}"
    description                    = "{{ description }}"
    display_name                   = "{{ display_name }}"
    grant_types                    = [{% for i_0 in grant_types %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

#   id                             = "{{ id }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
    resource_owner_password        = "{{ resource_owner_password }}"
    resource_owner_username        = "{{ resource_owner_username }}"
    support_state                  = {{ "true" if support_state else "false" }}
    token_endpoint                 = "{{ token_endpoint }}"
    token_body_parameter {
        name                           = "{{ name }}"
        value                          = "{{ value }}"
    }
}
