resource "azurerm_iothub_consumer_group" "{{ tf_name }}" {
    eventhub_endpoint_name         = "{{ eventhub_endpoint_name }}"
#   id                             = "{{ id }}"
    iothub_name                    = "{{ iothub_name }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
}
