resource "azurerm_shared_image_gallery" "{{ tf_name }}" {
    description                    = "{{ description }}"
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

#   unique_name                    = "{{ unique_name }}"
}
