resource "azurerm_logic_app_action_http" "{{ tf_name }}" {
    body                           = "{{ body }}"
    headers                        = { {% for k, v in headers.items() %}
                                     {{ k }} = {{ v }}{% endfor %}
                                     }

#   id                             = "{{ id }}"
    logic_app_id                   = "{{ logic_app_id }}"
    method                         = "{{ method }}"
    name                           = "{{ name }}"
    uri                            = "{{ uri }}"
}
