resource "azurerm_lb_rule" "{{ tf_name }}" {
#   backend_address_pool_id        = "{{ backend_address_pool_id }}"
    backend_port                   = {{ backend_port }}
    disable_outbound_snat          = {{ "true" if disable_outbound_snat else "false" }}
    enable_floating_ip             = {{ "true" if enable_floating_ip else "false" }}
#   frontend_ip_configuration_id   = "{{ frontend_ip_configuration_id }}"
    frontend_ip_configuration_name = "{{ frontend_ip_configuration_name }}"
    frontend_port                  = {{ frontend_port }}
#   id                             = "{{ id }}"
#   idle_timeout_in_minutes        = {{ idle_timeout_in_minutes }}
#   load_distribution              = "{{ load_distribution }}"
    loadbalancer_id                = "{{ loadbalancer_id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
#   probe_id                       = "{{ probe_id }}"
    protocol                       = "{{ protocol }}"
    resource_group_name            = "{{ resource_group_name }}"
}
