resource "azurerm_search_service" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
#   partition_count                = {{ partition_count }}
#   primary_key                    = "{{ primary_key }}"
#   replica_count                  = {{ replica_count }}
    resource_group_name            = "{{ resource_group_name }}"
#   secondary_key                  = "{{ secondary_key }}"
    sku                            = "{{ sku }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

}
