resource "azurerm_storage_queue" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    metadata                       = { {% for k, v in metadata.items() %}
                                     {{ k }} = {{ v }}{% endfor %}
                                     }

    name                           = "{{ name }}"
#   resource_group_name            = "{{ resource_group_name }}"
    storage_account_name           = "{{ storage_account_name }}"
}
