resource "azurerm_eventgrid_event_subscription" "{{ tf_name }}" {
    event_delivery_schema          = "{{ event_delivery_schema }}"
#   id                             = "{{ id }}"
#   included_event_types           = [{% for i_0 in included_event_types %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

    labels                         = [{% for i_0 in labels %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    name                           = "{{ name }}"
    scope                          = "{{ scope }}"
#   topic_name                     = "{{ topic_name }}"
    eventhub_endpoint {
        eventhub_id                    = "{{ eventhub_id }}"
    }
    hybrid_connection_endpoint {
        hybrid_connection_id           = "{{ hybrid_connection_id }}"
    }
    retry_policy {
        event_time_to_live             = {{ event_time_to_live }}
        max_delivery_attempts          = {{ max_delivery_attempts }}
    }
    storage_blob_dead_letter_destination {
        storage_account_id             = "{{ storage_account_id }}"
        storage_blob_container_name    = "{{ storage_blob_container_name }}"
    }
    storage_queue_endpoint {
        queue_name                     = "{{ queue_name }}"
        storage_account_id             = "{{ storage_account_id }}"
    }
    subject_filter {
        case_sensitive                 = {{ "true" if case_sensitive else "false" }}
        subject_begins_with            = "{{ subject_begins_with }}"
        subject_ends_with              = "{{ subject_ends_with }}"
    }
    webhook_endpoint {
        url                            = "{{ url }}"
    }
}
