resource "azurerm_servicebus_queue" "{{ tf_name }}" {
#   auto_delete_on_idle            = "{{ auto_delete_on_idle }}"
    dead_lettering_on_message_expiration = {{ "true" if dead_lettering_on_message_expiration else "false" }}
#   default_message_ttl            = "{{ default_message_ttl }}"
#   duplicate_detection_history_time_window = "{{ duplicate_detection_history_time_window }}"
    enable_batched_operations      = {{ "true" if enable_batched_operations else "false" }}
    enable_express                 = {{ "true" if enable_express else "false" }}
    enable_partitioning            = {{ "true" if enable_partitioning else "false" }}
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
#   lock_duration                  = "{{ lock_duration }}"
    max_delivery_count             = {{ max_delivery_count }}
#   max_size_in_megabytes          = {{ max_size_in_megabytes }}
    name                           = "{{ name }}"
    namespace_name                 = "{{ namespace_name }}"
    requires_duplicate_detection   = {{ "true" if requires_duplicate_detection else "false" }}
    requires_session               = {{ "true" if requires_session else "false" }}
    resource_group_name            = "{{ resource_group_name }}"
    support_ordering               = {{ "true" if support_ordering else "false" }}
}
