resource "azurerm_storage_account" "{{ tf_name }}" {
#   access_tier                    = "{{ access_tier }}"
    account_encryption_source      = "{{ account_encryption_source }}"
    account_kind                   = "{{ account_kind }}"
    account_replication_type       = "{{ account_replication_type }}"
    account_tier                   = "{{ account_tier }}"
#   account_type                   = "{{ account_type }}"
    enable_advanced_threat_protection = {{ "true" if enable_advanced_threat_protection else "false" }}
    enable_blob_encryption         = {{ "true" if enable_blob_encryption else "false" }}
    enable_file_encryption         = {{ "true" if enable_file_encryption else "false" }}
    enable_https_traffic_only      = {{ "true" if enable_https_traffic_only else "false" }}
#   id                             = "{{ id }}"
    is_hns_enabled                 = {{ "true" if is_hns_enabled else "false" }}
    location                       = "{{ location }}"
    name                           = "{{ name }}"
#   primary_access_key             = "{{ primary_access_key }}"
#   primary_blob_connection_string = "{{ primary_blob_connection_string }}"
#   primary_blob_endpoint          = "{{ primary_blob_endpoint }}"
#   primary_blob_host              = "{{ primary_blob_host }}"
#   primary_connection_string      = "{{ primary_connection_string }}"
#   primary_dfs_endpoint           = "{{ primary_dfs_endpoint }}"
#   primary_dfs_host               = "{{ primary_dfs_host }}"
#   primary_file_endpoint          = "{{ primary_file_endpoint }}"
#   primary_file_host              = "{{ primary_file_host }}"
#   primary_location               = "{{ primary_location }}"
#   primary_queue_endpoint         = "{{ primary_queue_endpoint }}"
#   primary_queue_host             = "{{ primary_queue_host }}"
#   primary_table_endpoint         = "{{ primary_table_endpoint }}"
#   primary_table_host             = "{{ primary_table_host }}"
#   primary_web_endpoint           = "{{ primary_web_endpoint }}"
#   primary_web_host               = "{{ primary_web_host }}"
    resource_group_name            = "{{ resource_group_name }}"
#   secondary_access_key           = "{{ secondary_access_key }}"
#   secondary_blob_connection_string = "{{ secondary_blob_connection_string }}"
#   secondary_blob_endpoint        = "{{ secondary_blob_endpoint }}"
#   secondary_blob_host            = "{{ secondary_blob_host }}"
#   secondary_connection_string    = "{{ secondary_connection_string }}"
#   secondary_dfs_endpoint         = "{{ secondary_dfs_endpoint }}"
#   secondary_dfs_host             = "{{ secondary_dfs_host }}"
#   secondary_file_endpoint        = "{{ secondary_file_endpoint }}"
#   secondary_file_host            = "{{ secondary_file_host }}"
#   secondary_location             = "{{ secondary_location }}"
#   secondary_queue_endpoint       = "{{ secondary_queue_endpoint }}"
#   secondary_queue_host           = "{{ secondary_queue_host }}"
#   secondary_table_endpoint       = "{{ secondary_table_endpoint }}"
#   secondary_table_host           = "{{ secondary_table_host }}"
#   secondary_web_endpoint         = "{{ secondary_web_endpoint }}"
#   secondary_web_host             = "{{ secondary_web_host }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    custom_domain {
        name                           = "{{ name }}"
        use_subdomain                  = {{ "true" if use_subdomain else "false" }}
    }
    identity {
#       principal_id                   = "{{ principal_id }}"
#       tenant_id                      = "{{ tenant_id }}"
        type                           = "{{ type }}"
    }
    network_rules {
#       bypass                         = [{% for i_1 in bypass %}
#                                        {{ i_1 }}{% if not loop.last %},{% endif %}
#                                        {% endfor %}]

        default_action                 = "{{ default_action }}"
#       ip_rules                       = [{% for i_1 in ip_rules %}
#                                        {{ i_1 }}{% if not loop.last %},{% endif %}
#                                        {% endfor %}]

#       virtual_network_subnet_ids     = [{% for i_1 in virtual_network_subnet_ids %}
#                                        {{ i_1 }}{% if not loop.last %},{% endif %}
#                                        {% endfor %}]

    }
    queue_properties {
        cors_rule {
            allowed_headers                = [{% for i_2 in allowed_headers %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

            allowed_methods                = [{% for i_2 in allowed_methods %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

            allowed_origins                = [{% for i_2 in allowed_origins %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

            exposed_headers                = [{% for i_2 in exposed_headers %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

            max_age_in_seconds             = {{ max_age_in_seconds }}
        }
        hour_metrics {
            enabled                        = {{ "true" if enabled else "false" }}
            include_apis                   = {{ "true" if include_apis else "false" }}
            retention_policy_days          = {{ retention_policy_days }}
            version                        = "{{ version }}"
        }
        logging {
            delete                         = {{ "true" if delete else "false" }}
            read                           = {{ "true" if read else "false" }}
            retention_policy_days          = {{ retention_policy_days }}
            version                        = "{{ version }}"
            write                          = {{ "true" if write else "false" }}
        }
        minute_metrics {
            enabled                        = {{ "true" if enabled else "false" }}
            include_apis                   = {{ "true" if include_apis else "false" }}
            retention_policy_days          = {{ retention_policy_days }}
            version                        = "{{ version }}"
        }
    }
}
