resource "azurerm_key_vault_certificate" "{{ tf_name }}" {
#   certificate_data               = "{{ certificate_data }}"
#   id                             = "{{ id }}"
#   key_vault_id                   = "{{ key_vault_id }}"
    name                           = "{{ name }}"
#   secret_id                      = "{{ secret_id }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

#   thumbprint                     = "{{ thumbprint }}"
#   vault_uri                      = "{{ vault_uri }}"
#   version                        = "{{ version }}"
    certificate {
        contents                       = "{{ contents }}"
        password                       = "{{ password }}"
    }
    certificate_policy {
        issuer_parameters {
            name                           = "{{ name }}"
        }
        key_properties {
            exportable                     = {{ "true" if exportable else "false" }}
            key_size                       = {{ key_size }}
            key_type                       = "{{ key_type }}"
            reuse_key                      = {{ "true" if reuse_key else "false" }}
        }
        lifetime_action {
            action {
                action_type                    = "{{ action_type }}"
            }
            trigger {
                days_before_expiry             = {{ days_before_expiry }}
                lifetime_percentage            = {{ lifetime_percentage }}
            }
        }
        secret_properties {
            content_type                   = "{{ content_type }}"
        }
        x509_certificate_properties {
#           extended_key_usage             = [{% for i_2 in extended_key_usage %}
#                                            {{ i_2 }}{% if not loop.last %},{% endif %}
#                                            {% endfor %}]

            key_usage                      = [{% for i_2 in key_usage %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

            subject                        = "{{ subject }}"
            validity_in_months             = {{ validity_in_months }}
            subject_alternative_names {
                dns_names                      = [{% for i_3 in dns_names %}
                                                 {{ i_3 }}{% if not loop.last %},{% endif %}
                                                 {% endfor %}]

                emails                         = [{% for i_3 in emails %}
                                                 {{ i_3 }}{% if not loop.last %},{% endif %}
                                                 {% endfor %}]

                upns                           = [{% for i_3 in upns %}
                                                 {{ i_3 }}{% if not loop.last %},{% endif %}
                                                 {% endfor %}]

            }
        }
    }
}
