resource "azurerm_subnet_network_security_group_association" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    network_security_group_id      = "{{ network_security_group_id }}"
    subnet_id                      = "{{ subnet_id }}"
}
