resource "azurerm_eventhub" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    message_retention              = {{ message_retention }}
    name                           = "{{ name }}"
    namespace_name                 = "{{ namespace_name }}"
    partition_count                = {{ partition_count }}
#   partition_ids                  = [{% for i_0 in partition_ids %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

    resource_group_name            = "{{ resource_group_name }}"
    capture_description {
        enabled                        = {{ "true" if enabled else "false" }}
        encoding                       = "{{ encoding }}"
        interval_in_seconds            = {{ interval_in_seconds }}
        size_limit_in_bytes            = {{ size_limit_in_bytes }}
        skip_empty_archives            = {{ "true" if skip_empty_archives else "false" }}
        destination {
            archive_name_format            = "{{ archive_name_format }}"
            blob_container_name            = "{{ blob_container_name }}"
            name                           = "{{ name }}"
            storage_account_id             = "{{ storage_account_id }}"
        }
    }
}
