resource "azurerm_lb_backend_address_pool" "{{ tf_name }}" {
#   backend_ip_configurations      = [{% for i_0 in backend_ip_configurations %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

#   id                             = "{{ id }}"
#   load_balancing_rules           = [{% for i_0 in load_balancing_rules %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

    loadbalancer_id                = "{{ loadbalancer_id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
}
