resource "azurerm_web_application_firewall_policy" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    custom_rules {
        action                         = "{{ action }}"
        name                           = "{{ name }}"
        priority                       = {{ priority }}
        rule_type                      = "{{ rule_type }}"
        match_conditions {
            match_values                   = [{% for i_2 in match_values %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

            negation_condition             = {{ "true" if negation_condition else "false" }}
            operator                       = "{{ operator }}"
            match_variables {
                selector                       = "{{ selector }}"
                variable_name                  = "{{ variable_name }}"
            }
        }
    }
    policy_settings {
        enabled                        = {{ "true" if enabled else "false" }}
        mode                           = "{{ mode }}"
    }
}
