resource "azurerm_data_lake_analytics_account" "{{ tf_name }}" {
    default_store_account_name     = "{{ default_store_account_name }}"
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    tier                           = "{{ tier }}"
}
