resource "azurerm_virtual_machine_data_disk_attachment" "{{ tf_name }}" {
    caching                        = "{{ caching }}"
    create_option                  = "{{ create_option }}"
#   id                             = "{{ id }}"
    lun                            = {{ lun }}
    managed_disk_id                = "{{ managed_disk_id }}"
    virtual_machine_id             = "{{ virtual_machine_id }}"
    write_accelerator_enabled      = {{ "true" if write_accelerator_enabled else "false" }}
}
