resource "azurerm_app_service_slot" "{{ tf_name }}" {
    app_service_name               = "{{ app_service_name }}"
    app_service_plan_id            = "{{ app_service_plan_id }}"
#   app_settings                   = { {% for k, v in app_settings.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

#   client_affinity_enabled        = {{ "true" if client_affinity_enabled else "false" }}
#   default_site_hostname          = "{{ default_site_hostname }}"
    enabled                        = {{ "true" if enabled else "false" }}
    https_only                     = {{ "true" if https_only else "false" }}
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
#   site_credential                = [{% for i_0 in site_credential %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    auth_settings {
        additional_login_params        = { {% for k, v in additional_login_params.items() %}
                                         {{ k }} = {{ v }}{% endfor %}
                                         }

        allowed_external_redirect_urls = [{% for i_1 in allowed_external_redirect_urls %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        default_provider               = "{{ default_provider }}"
        enabled                        = {{ "true" if enabled else "false" }}
        issuer                         = "{{ issuer }}"
        runtime_version                = "{{ runtime_version }}"
        token_refresh_extension_hours  = {{ token_refresh_extension_hours }}
        token_store_enabled            = {{ "true" if token_store_enabled else "false" }}
        unauthenticated_client_action  = "{{ unauthenticated_client_action }}"
        active_directory {
            allowed_audiences              = [{% for i_2 in allowed_audiences %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

            client_id                      = "{{ client_id }}"
            client_secret                  = "{{ client_secret }}"
        }
        facebook {
            app_id                         = "{{ app_id }}"
            app_secret                     = "{{ app_secret }}"
            oauth_scopes                   = [{% for i_2 in oauth_scopes %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

        }
        google {
            client_id                      = "{{ client_id }}"
            client_secret                  = "{{ client_secret }}"
            oauth_scopes                   = [{% for i_2 in oauth_scopes %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

        }
        microsoft {
            client_id                      = "{{ client_id }}"
            client_secret                  = "{{ client_secret }}"
            oauth_scopes                   = [{% for i_2 in oauth_scopes %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

        }
        twitter {
            consumer_key                   = "{{ consumer_key }}"
            consumer_secret                = "{{ consumer_secret }}"
        }
    }
    connection_string {
        name                           = "{{ name }}"
        type                           = "{{ type }}"
        value                          = "{{ value }}"
    }
    identity {
        identity_ids                   = [{% for i_1 in identity_ids %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

#       principal_id                   = "{{ principal_id }}"
#       tenant_id                      = "{{ tenant_id }}"
        type                           = "{{ type }}"
    }
    site_config {
        always_on                      = {{ "true" if always_on else "false" }}
        app_command_line               = "{{ app_command_line }}"
        default_documents              = [{% for i_1 in default_documents %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        dotnet_framework_version       = "{{ dotnet_framework_version }}"
#       ftps_state                     = "{{ ftps_state }}"
        http2_enabled                  = {{ "true" if http2_enabled else "false" }}
#       ip_restriction                 = [{% for i_1 in ip_restriction %}
#                                        {{ i_1 }}{% if not loop.last %},{% endif %}
#                                        {% endfor %}]

        java_container                 = "{{ java_container }}"
        java_container_version         = "{{ java_container_version }}"
        java_version                   = "{{ java_version }}"
#       linux_fx_version               = "{{ linux_fx_version }}"
#       local_mysql_enabled            = {{ "true" if local_mysql_enabled else "false" }}
#       managed_pipeline_mode          = "{{ managed_pipeline_mode }}"
#       min_tls_version                = "{{ min_tls_version }}"
        php_version                    = "{{ php_version }}"
        python_version                 = "{{ python_version }}"
        remote_debugging_enabled       = {{ "true" if remote_debugging_enabled else "false" }}
#       remote_debugging_version       = "{{ remote_debugging_version }}"
        scm_type                       = "{{ scm_type }}"
        use_32_bit_worker_process      = {{ "true" if use_32_bit_worker_process else "false" }}
        virtual_network_name           = "{{ virtual_network_name }}"
#       websockets_enabled             = {{ "true" if websockets_enabled else "false" }}
#       windows_fx_version             = "{{ windows_fx_version }}"
        cors {
            allowed_origins                = [{% for i_2 in allowed_origins %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

            support_credentials            = {{ "true" if support_credentials else "false" }}
        }
    }
}
