resource "azurerm_azuread_application" "{{ tf_name }}" {
#   application_id                 = "{{ application_id }}"
    available_to_other_tenants     = {{ "true" if available_to_other_tenants else "false" }}
#   homepage                       = "{{ homepage }}"
#   id                             = "{{ id }}"
#   identifier_uris                = [{% for i_0 in identifier_uris %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

    name                           = "{{ name }}"
    oauth2_allow_implicit_flow     = {{ "true" if oauth2_allow_implicit_flow else "false" }}
#   reply_urls                     = [{% for i_0 in reply_urls %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

}
