resource "azurerm_virtual_machine" "{{ tf_name }}" {
#   availability_set_id            = "{{ availability_set_id }}"
    delete_data_disks_on_termination = {{ "true" if delete_data_disks_on_termination else "false" }}
    delete_os_disk_on_termination  = {{ "true" if delete_os_disk_on_termination else "false" }}
#   id                             = "{{ id }}"
#   license_type                   = "{{ license_type }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    network_interface_ids          = [{% for i_0 in network_interface_ids %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    primary_network_interface_id   = "{{ primary_network_interface_id }}"
    proximity_placement_group_id   = "{{ proximity_placement_group_id }}"
    resource_group_name            = "{{ resource_group_name }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    vm_size                        = "{{ vm_size }}"
    zones                          = [{% for i_0 in zones %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    additional_capabilities {
        ultra_ssd_enabled              = {{ "true" if ultra_ssd_enabled else "false" }}
    }
    boot_diagnostics {
        enabled                        = {{ "true" if enabled else "false" }}
        storage_uri                    = "{{ storage_uri }}"
    }
    identity {
        identity_ids                   = [{% for i_1 in identity_ids %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

#       principal_id                   = "{{ principal_id }}"
        type                           = "{{ type }}"
    }
    os_profile {
        admin_password                 = "{{ admin_password }}"
        admin_username                 = "{{ admin_username }}"
        computer_name                  = "{{ computer_name }}"
#       custom_data                    = "{{ custom_data }}"
    }
    os_profile_linux_config {
        disable_password_authentication = {{ "true" if disable_password_authentication else "false" }}
        ssh_keys {
            key_data                       = "{{ key_data }}"
            path                           = "{{ path }}"
        }
    }
    os_profile_secrets {
        source_vault_id                = "{{ source_vault_id }}"
        vault_certificates {
            certificate_store              = "{{ certificate_store }}"
            certificate_url                = "{{ certificate_url }}"
        }
    }
    os_profile_windows_config {
        enable_automatic_upgrades      = {{ "true" if enable_automatic_upgrades else "false" }}
        provision_vm_agent             = {{ "true" if provision_vm_agent else "false" }}
        timezone                       = "{{ timezone }}"
        additional_unattend_config {
            component                      = "{{ component }}"
            content                        = "{{ content }}"
            pass                           = "{{ pass }}"
            setting_name                   = "{{ setting_name }}"
        }
        winrm {
            certificate_url                = "{{ certificate_url }}"
            protocol                       = "{{ protocol }}"
        }
    }
    plan {
        name                           = "{{ name }}"
        product                        = "{{ product }}"
        publisher                      = "{{ publisher }}"
    }
    storage_data_disk {
#       caching                        = "{{ caching }}"
        create_option                  = "{{ create_option }}"
#       disk_size_gb                   = {{ disk_size_gb }}
        lun                            = {{ lun }}
#       managed_disk_id                = "{{ managed_disk_id }}"
#       managed_disk_type              = "{{ managed_disk_type }}"
        name                           = "{{ name }}"
        vhd_uri                        = "{{ vhd_uri }}"
        write_accelerator_enabled      = {{ "true" if write_accelerator_enabled else "false" }}
    }
    storage_image_reference {
        id                             = "{{ id }}"
        offer                          = "{{ offer }}"
        publisher                      = "{{ publisher }}"
        sku                            = "{{ sku }}"
#       version                        = "{{ version }}"
    }
    storage_os_disk {
#       caching                        = "{{ caching }}"
        create_option                  = "{{ create_option }}"
#       disk_size_gb                   = {{ disk_size_gb }}
        image_uri                      = "{{ image_uri }}"
#       managed_disk_id                = "{{ managed_disk_id }}"
#       managed_disk_type              = "{{ managed_disk_type }}"
        name                           = "{{ name }}"
#       os_type                        = "{{ os_type }}"
        vhd_uri                        = "{{ vhd_uri }}"
        write_accelerator_enabled      = {{ "true" if write_accelerator_enabled else "false" }}
    }
}
