resource "azurerm_app_service_certificate" "{{ tf_name }}" {
#   expiration_date                = "{{ expiration_date }}"
#   friendly_name                  = "{{ friendly_name }}"
#   host_names                     = [{% for i_0 in host_names %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

#   id                             = "{{ id }}"
#   issue_date                     = "{{ issue_date }}"
#   issuer                         = "{{ issuer }}"
    key_vault_secret_id            = "{{ key_vault_secret_id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    password                       = "{{ password }}"
    pfx_blob                       = "{{ pfx_blob }}"
    resource_group_name            = "{{ resource_group_name }}"
#   subject_name                   = "{{ subject_name }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

#   thumbprint                     = "{{ thumbprint }}"
}
