resource "azurerm_function_app" "{{ tf_name }}" {
    app_service_plan_id            = "{{ app_service_plan_id }}"
    app_settings                   = { {% for k, v in app_settings.items() %}
                                     {{ k }} = {{ v }}{% endfor %}
                                     }

#   client_affinity_enabled        = {{ "true" if client_affinity_enabled else "false" }}
#   default_hostname               = "{{ default_hostname }}"
    enable_builtin_logging         = {{ "true" if enable_builtin_logging else "false" }}
    enabled                        = {{ "true" if enabled else "false" }}
    https_only                     = {{ "true" if https_only else "false" }}
#   id                             = "{{ id }}"
#   kind                           = "{{ kind }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
#   outbound_ip_addresses          = "{{ outbound_ip_addresses }}"
#   possible_outbound_ip_addresses = "{{ possible_outbound_ip_addresses }}"
    resource_group_name            = "{{ resource_group_name }}"
#   site_credential                = [{% for i_0 in site_credential %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

    storage_connection_string      = "{{ storage_connection_string }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    version                        = "{{ version }}"
    auth_settings {
        additional_login_params        = { {% for k, v in additional_login_params.items() %}
                                         {{ k }} = {{ v }}{% endfor %}
                                         }

        allowed_external_redirect_urls = [{% for i_1 in allowed_external_redirect_urls %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        default_provider               = "{{ default_provider }}"
        enabled                        = {{ "true" if enabled else "false" }}
        issuer                         = "{{ issuer }}"
        runtime_version                = "{{ runtime_version }}"
        token_refresh_extension_hours  = {{ token_refresh_extension_hours }}
        token_store_enabled            = {{ "true" if token_store_enabled else "false" }}
        unauthenticated_client_action  = "{{ unauthenticated_client_action }}"
        active_directory {
            allowed_audiences              = [{% for i_2 in allowed_audiences %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

            client_id                      = "{{ client_id }}"
            client_secret                  = "{{ client_secret }}"
        }
        facebook {
            app_id                         = "{{ app_id }}"
            app_secret                     = "{{ app_secret }}"
            oauth_scopes                   = [{% for i_2 in oauth_scopes %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

        }
        google {
            client_id                      = "{{ client_id }}"
            client_secret                  = "{{ client_secret }}"
            oauth_scopes                   = [{% for i_2 in oauth_scopes %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

        }
        microsoft {
            client_id                      = "{{ client_id }}"
            client_secret                  = "{{ client_secret }}"
            oauth_scopes                   = [{% for i_2 in oauth_scopes %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

        }
        twitter {
            consumer_key                   = "{{ consumer_key }}"
            consumer_secret                = "{{ consumer_secret }}"
        }
    }
    connection_string {
        name                           = "{{ name }}"
        type                           = "{{ type }}"
        value                          = "{{ value }}"
    }
    identity {
#       principal_id                   = "{{ principal_id }}"
#       tenant_id                      = "{{ tenant_id }}"
        type                           = "{{ type }}"
    }
    site_config {
        always_on                      = {{ "true" if always_on else "false" }}
#       linux_fx_version               = "{{ linux_fx_version }}"
        use_32_bit_worker_process      = {{ "true" if use_32_bit_worker_process else "false" }}
        virtual_network_name           = "{{ virtual_network_name }}"
        websockets_enabled             = {{ "true" if websockets_enabled else "false" }}
        cors {
            allowed_origins                = [{% for i_2 in allowed_origins %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

            support_credentials            = {{ "true" if support_credentials else "false" }}
        }
    }
}
