resource "azurerm_azuread_service_principal" "{{ tf_name }}" {
    application_id                 = "{{ application_id }}"
#   display_name                   = "{{ display_name }}"
#   id                             = "{{ id }}"
}
