resource "azurerm_storage_table_entity" "{{ tf_name }}" {
    entity                         = { {% for k, v in entity.items() %}
                                     {{ k }} = {{ v }}{% endfor %}
                                     }

#   id                             = "{{ id }}"
    partition_key                  = "{{ partition_key }}"
    row_key                        = "{{ row_key }}"
    storage_account_name           = "{{ storage_account_name }}"
    table_name                     = "{{ table_name }}"
}
