resource "azurerm_servicebus_subscription_rule" "{{ tf_name }}" {
    action                         = "{{ action }}"
    filter_type                    = "{{ filter_type }}"
#   id                             = "{{ id }}"
    name                           = "{{ name }}"
    namespace_name                 = "{{ namespace_name }}"
    resource_group_name            = "{{ resource_group_name }}"
    sql_filter                     = "{{ sql_filter }}"
    subscription_name              = "{{ subscription_name }}"
    topic_name                     = "{{ topic_name }}"
    correlation_filter {
        content_type                   = "{{ content_type }}"
        correlation_id                 = "{{ correlation_id }}"
        label                          = "{{ label }}"
        message_id                     = "{{ message_id }}"
        reply_to                       = "{{ reply_to }}"
        reply_to_session_id            = "{{ reply_to_session_id }}"
        session_id                     = "{{ session_id }}"
        to                             = "{{ to }}"
    }
}
