resource "azurerm_api_management_logger" "{{ tf_name }}" {
    api_management_name            = "{{ api_management_name }}"
    buffered                       = {{ "true" if buffered else "false" }}
    description                    = "{{ description }}"
#   id                             = "{{ id }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
    application_insights {
        instrumentation_key            = "{{ instrumentation_key }}"
    }
    eventhub {
        connection_string              = "{{ connection_string }}"
        name                           = "{{ name }}"
    }
}
