resource "azurerm_shared_image_version" "{{ tf_name }}" {
    exclude_from_latest            = {{ "true" if exclude_from_latest else "false" }}
    gallery_name                   = "{{ gallery_name }}"
#   id                             = "{{ id }}"
    image_name                     = "{{ image_name }}"
    location                       = "{{ location }}"
    managed_image_id               = "{{ managed_image_id }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    target_region {
        name                           = "{{ name }}"
        regional_replica_count         = {{ regional_replica_count }}
    }
}
