resource "azurerm_api_management_subscription" "{{ tf_name }}" {
    api_management_name            = "{{ api_management_name }}"
    display_name                   = "{{ display_name }}"
#   id                             = "{{ id }}"
#   primary_key                    = "{{ primary_key }}"
    product_id                     = "{{ product_id }}"
    resource_group_name            = "{{ resource_group_name }}"
#   secondary_key                  = "{{ secondary_key }}"
    state                          = "{{ state }}"
#   subscription_id                = "{{ subscription_id }}"
    user_id                        = "{{ user_id }}"
}
