resource "azurerm_iot_dps_certificate" "{{ tf_name }}" {
    certificate_content            = "{{ certificate_content }}"
#   id                             = "{{ id }}"
    iot_dps_name                   = "{{ iot_dps_name }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
}
