resource "azurerm_batch_application" "{{ tf_name }}" {
    account_name                   = "{{ account_name }}"
    allow_updates                  = {{ "true" if allow_updates else "false" }}
    default_version                = "{{ default_version }}"
    display_name                   = "{{ display_name }}"
#   id                             = "{{ id }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
}
