resource "azurerm_automation_runbook" "{{ tf_name }}" {
    account_name                   = "{{ account_name }}"
#   content                        = "{{ content }}"
    description                    = "{{ description }}"
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    log_progress                   = {{ "true" if log_progress else "false" }}
    log_verbose                    = {{ "true" if log_verbose else "false" }}
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
    runbook_type                   = "{{ runbook_type }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    publish_content_link {
        uri                            = "{{ uri }}"
        version                        = "{{ version }}"
        hash {
            algorithm                      = "{{ algorithm }}"
            value                          = "{{ value }}"
        }
    }
}
