resource "azurerm_policy_set_definition" "{{ tf_name }}" {
    description                    = "{{ description }}"
    display_name                   = "{{ display_name }}"
#   id                             = "{{ id }}"
    management_group_id            = "{{ management_group_id }}"
    metadata                       = "{{ metadata }}"
    name                           = "{{ name }}"
    parameters                     = "{{ parameters }}"
    policy_definitions             = "{{ policy_definitions }}"
    policy_type                    = "{{ policy_type }}"
}
