resource "azurerm_batch_account" "{{ tf_name }}" {
#   account_endpoint               = "{{ account_endpoint }}"
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    pool_allocation_mode           = "{{ pool_allocation_mode }}"
#   primary_access_key             = "{{ primary_access_key }}"
    resource_group_name            = "{{ resource_group_name }}"
#   secondary_access_key           = "{{ secondary_access_key }}"
#   storage_account_id             = "{{ storage_account_id }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    key_vault_reference {
        id                             = "{{ id }}"
        url                            = "{{ url }}"
    }
}
