resource "azurerm_mysql_virtual_network_rule" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
    server_name                    = "{{ server_name }}"
    subnet_id                      = "{{ subnet_id }}"
}
