resource "azurerm_lb_nat_rule" "{{ tf_name }}" {
#   backend_ip_configuration_id    = "{{ backend_ip_configuration_id }}"
    backend_port                   = {{ backend_port }}
#   enable_floating_ip             = {{ "true" if enable_floating_ip else "false" }}
#   frontend_ip_configuration_id   = "{{ frontend_ip_configuration_id }}"
    frontend_ip_configuration_name = "{{ frontend_ip_configuration_name }}"
    frontend_port                  = {{ frontend_port }}
#   id                             = "{{ id }}"
    loadbalancer_id                = "{{ loadbalancer_id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    protocol                       = "{{ protocol }}"
    resource_group_name            = "{{ resource_group_name }}"
}
