resource "azurerm_data_lake_analytics_firewall_rule" "{{ tf_name }}" {
    account_name                   = "{{ account_name }}"
    end_ip_address                 = "{{ end_ip_address }}"
#   id                             = "{{ id }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
    start_ip_address               = "{{ start_ip_address }}"
}
