resource "azurerm_databricks_workspace" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
#   managed_resource_group_id      = "{{ managed_resource_group_id }}"
#   managed_resource_group_name    = "{{ managed_resource_group_name }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
    sku                            = "{{ sku }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

}
