resource "azurerm_frontdoor" "{{ tf_name }}" {
#   cname                          = "{{ cname }}"
    enforce_backend_pools_certificate_name_check = {{ "true" if enforce_backend_pools_certificate_name_check else "false" }}
    friendly_name                  = "{{ friendly_name }}"
#   id                             = "{{ id }}"
    load_balancer_enabled          = {{ "true" if load_balancer_enabled else "false" }}
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    backend_pool {
        health_probe_name              = "{{ health_probe_name }}"
#       id                             = "{{ id }}"
        load_balancing_name            = "{{ load_balancing_name }}"
        name                           = "{{ name }}"
        backend {
            address                        = "{{ address }}"
            enabled                        = {{ "true" if enabled else "false" }}
            host_header                    = "{{ host_header }}"
            http_port                      = {{ http_port }}
            https_port                     = {{ https_port }}
            priority                       = {{ priority }}
            weight                         = {{ weight }}
        }
    }
    backend_pool_health_probe {
#       id                             = "{{ id }}"
        interval_in_seconds            = {{ interval_in_seconds }}
        name                           = "{{ name }}"
        path                           = "{{ path }}"
        protocol                       = "{{ protocol }}"
    }
    backend_pool_load_balancing {
        additional_latency_milliseconds = {{ additional_latency_milliseconds }}
#       id                             = "{{ id }}"
        name                           = "{{ name }}"
        sample_size                    = {{ sample_size }}
        successful_samples_required    = {{ successful_samples_required }}
    }
    frontend_endpoint {
        custom_https_provisioning_enabled = {{ "true" if custom_https_provisioning_enabled else "false" }}
        host_name                      = "{{ host_name }}"
#       id                             = "{{ id }}"
        name                           = "{{ name }}"
        session_affinity_enabled       = {{ "true" if session_affinity_enabled else "false" }}
        session_affinity_ttl_seconds   = {{ session_affinity_ttl_seconds }}
        web_application_firewall_policy_link_id = "{{ web_application_firewall_policy_link_id }}"
        custom_https_configuration {
            azure_key_vault_certificate_secret_name = "{{ azure_key_vault_certificate_secret_name }}"
            azure_key_vault_certificate_secret_version = "{{ azure_key_vault_certificate_secret_version }}"
            azure_key_vault_certificate_vault_id = "{{ azure_key_vault_certificate_vault_id }}"
            certificate_source             = "{{ certificate_source }}"
#           provisioning_state             = "{{ provisioning_state }}"
#           provisioning_substate          = "{{ provisioning_substate }}"
        }
    }
    routing_rule {
        accepted_protocols             = [{% for i_1 in accepted_protocols %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        enabled                        = {{ "true" if enabled else "false" }}
        frontend_endpoints             = [{% for i_1 in frontend_endpoints %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

#       id                             = "{{ id }}"
        name                           = "{{ name }}"
        patterns_to_match              = [{% for i_1 in patterns_to_match %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        forwarding_configuration {
            backend_pool_name              = "{{ backend_pool_name }}"
            cache_query_parameter_strip_directive = "{{ cache_query_parameter_strip_directive }}"
            cache_use_dynamic_compression  = {{ "true" if cache_use_dynamic_compression else "false" }}
            custom_forwarding_path         = "{{ custom_forwarding_path }}"
            forwarding_protocol            = "{{ forwarding_protocol }}"
        }
        redirect_configuration {
            custom_fragment                = "{{ custom_fragment }}"
            custom_host                    = "{{ custom_host }}"
            custom_path                    = "{{ custom_path }}"
            custom_query_string            = "{{ custom_query_string }}"
            redirect_protocol              = "{{ redirect_protocol }}"
            redirect_type                  = "{{ redirect_type }}"
        }
    }
}
