resource "azurerm_mysql_configuration" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
    server_name                    = "{{ server_name }}"
    value                          = "{{ value }}"
}
