resource "azurerm_stream_analytics_output_mssql" "{{ tf_name }}" {
    database                       = "{{ database }}"
#   id                             = "{{ id }}"
    name                           = "{{ name }}"
    password                       = "{{ password }}"
    resource_group_name            = "{{ resource_group_name }}"
    server                         = "{{ server }}"
    stream_analytics_job_name      = "{{ stream_analytics_job_name }}"
    table                          = "{{ table }}"
    user                           = "{{ user }}"
}
