resource "azurerm_route_table" "{{ tf_name }}" {
    disable_bgp_route_propagation  = {{ "true" if disable_bgp_route_propagation else "false" }}
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
#   route                          = [{% for i_0 in route %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

#   subnets                        = [{% for i_0 in subnets %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

}
