resource "azurerm_sql_failover_group" "{{ tf_name }}" {
    databases                      = [{% for i_0 in databases %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

#   id                             = "{{ id }}"
#   location                       = "{{ location }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
#   role                           = "{{ role }}"
    server_name                    = "{{ server_name }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    partner_servers {
        id                             = "{{ id }}"
#       location                       = "{{ location }}"
#       role                           = "{{ role }}"
    }
    read_write_endpoint_failover_policy {
        grace_minutes                  = {{ grace_minutes }}
        mode                           = "{{ mode }}"
    }
    readonly_endpoint_failover_policy {
        mode                           = "{{ mode }}"
    }
}
