resource "azurerm_container_group" "{{ tf_name }}" {
    dns_name_label                 = "{{ dns_name_label }}"
#   fqdn                           = "{{ fqdn }}"
#   id                             = "{{ id }}"
#   ip_address                     = "{{ ip_address }}"
    ip_address_type                = "{{ ip_address_type }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    network_profile_id             = "{{ network_profile_id }}"
    os_type                        = "{{ os_type }}"
    resource_group_name            = "{{ resource_group_name }}"
    restart_policy                 = "{{ restart_policy }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    container {
#       command                        = "{{ command }}"
#       commands                       = [{% for i_1 in commands %}
#                                        {{ i_1 }}{% if not loop.last %},{% endif %}
#                                        {% endfor %}]

        cpu                            = {{ cpu }}
        environment_variables          = { {% for k, v in environment_variables.items() %}
                                         {{ k }} = {{ v }}{% endfor %}
                                         }

        image                          = "{{ image }}"
        memory                         = {{ memory }}
        name                           = "{{ name }}"
#       port                           = {{ port }}
#       protocol                       = "{{ protocol }}"
        secure_environment_variables   = { {% for k, v in secure_environment_variables.items() %}
                                         {{ k }} = {{ v }}{% endfor %}
                                         }

        gpu {
            count                          = {{ count }}
            sku                            = "{{ sku }}"
        }
        liveness_probe {
            exec                           = [{% for i_2 in exec %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

            failure_threshold              = {{ failure_threshold }}
            initial_delay_seconds          = {{ initial_delay_seconds }}
            period_seconds                 = {{ period_seconds }}
            success_threshold              = {{ success_threshold }}
            timeout_seconds                = {{ timeout_seconds }}
            http_get {
                path                           = "{{ path }}"
                port                           = {{ port }}
                scheme                         = "{{ scheme }}"
            }
        }
        ports {
#           port                           = {{ port }}
#           protocol                       = "{{ protocol }}"
        }
        readiness_probe {
            exec                           = [{% for i_2 in exec %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

            failure_threshold              = {{ failure_threshold }}
            initial_delay_seconds          = {{ initial_delay_seconds }}
            period_seconds                 = {{ period_seconds }}
            success_threshold              = {{ success_threshold }}
            timeout_seconds                = {{ timeout_seconds }}
            http_get {
                path                           = "{{ path }}"
                port                           = {{ port }}
                scheme                         = "{{ scheme }}"
            }
        }
        volume {
            mount_path                     = "{{ mount_path }}"
            name                           = "{{ name }}"
            read_only                      = {{ "true" if read_only else "false" }}
            share_name                     = "{{ share_name }}"
            storage_account_key            = "{{ storage_account_key }}"
            storage_account_name           = "{{ storage_account_name }}"
        }
    }
    diagnostics {
        log_analytics {
            log_type                       = "{{ log_type }}"
            metadata                       = { {% for k, v in metadata.items() %}
                                             {{ k }} = {{ v }}{% endfor %}
                                             }

            workspace_id                   = "{{ workspace_id }}"
            workspace_key                  = "{{ workspace_key }}"
        }
    }
    identity {
        identity_ids                   = [{% for i_1 in identity_ids %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

#       principal_id                   = "{{ principal_id }}"
        type                           = "{{ type }}"
    }
    image_registry_credential {
        password                       = "{{ password }}"
        server                         = "{{ server }}"
        username                       = "{{ username }}"
    }
}
