resource "azurerm_stream_analytics_job" "{{ tf_name }}" {
#   compatibility_level            = "{{ compatibility_level }}"
#   data_locale                    = "{{ data_locale }}"
    events_late_arrival_max_delay_in_seconds = {{ events_late_arrival_max_delay_in_seconds }}
    events_out_of_order_max_delay_in_seconds = {{ events_out_of_order_max_delay_in_seconds }}
    events_out_of_order_policy     = "{{ events_out_of_order_policy }}"
#   id                             = "{{ id }}"
#   job_id                         = "{{ job_id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    output_error_policy            = "{{ output_error_policy }}"
    resource_group_name            = "{{ resource_group_name }}"
    streaming_units                = {{ streaming_units }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    transformation_query           = "{{ transformation_query }}"
}
