resource "azurerm_virtual_network_peering" "{{ tf_name }}" {
#   allow_forwarded_traffic        = {{ "true" if allow_forwarded_traffic else "false" }}
#   allow_gateway_transit          = {{ "true" if allow_gateway_transit else "false" }}
#   allow_virtual_network_access   = {{ "true" if allow_virtual_network_access else "false" }}
#   id                             = "{{ id }}"
    name                           = "{{ name }}"
    remote_virtual_network_id      = "{{ remote_virtual_network_id }}"
    resource_group_name            = "{{ resource_group_name }}"
#   use_remote_gateways            = {{ "true" if use_remote_gateways else "false" }}
    virtual_network_name           = "{{ virtual_network_name }}"
}
