resource "azurerm_network_security_group" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
#   security_rule                  = [{% for i_0 in security_rule %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

}
