resource "azurerm_notification_hub_authorization_rule" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    listen                         = {{ "true" if listen else "false" }}
    manage                         = {{ "true" if manage else "false" }}
    name                           = "{{ name }}"
    namespace_name                 = "{{ namespace_name }}"
    notification_hub_name          = "{{ notification_hub_name }}"
#   primary_access_key             = "{{ primary_access_key }}"
    resource_group_name            = "{{ resource_group_name }}"
#   secondary_access_key           = "{{ secondary_access_key }}"
    send                           = {{ "true" if send else "false" }}
}
