resource "azurerm_key_vault_access_policy" "{{ tf_name }}" {
    application_id                 = "{{ application_id }}"
    certificate_permissions        = [{% for i_0 in certificate_permissions %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

#   id                             = "{{ id }}"
    key_permissions                = [{% for i_0 in key_permissions %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

#   key_vault_id                   = "{{ key_vault_id }}"
    object_id                      = "{{ object_id }}"
#   resource_group_name            = "{{ resource_group_name }}"
    secret_permissions             = [{% for i_0 in secret_permissions %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    storage_permissions            = [{% for i_0 in storage_permissions %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    tenant_id                      = "{{ tenant_id }}"
#   vault_name                     = "{{ vault_name }}"
}
