resource "azurerm_sql_active_directory_administrator" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    login                          = "{{ login }}"
    object_id                      = "{{ object_id }}"
    resource_group_name            = "{{ resource_group_name }}"
    server_name                    = "{{ server_name }}"
    tenant_id                      = "{{ tenant_id }}"
}
