resource "azurerm_availability_set" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    managed                        = {{ "true" if managed else "false" }}
    name                           = "{{ name }}"
    platform_fault_domain_count    = {{ platform_fault_domain_count }}
    platform_update_domain_count   = {{ platform_update_domain_count }}
    proximity_placement_group_id   = "{{ proximity_placement_group_id }}"
    resource_group_name            = "{{ resource_group_name }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

}
