resource "azurerm_key_vault_secret" "{{ tf_name }}" {
    content_type                   = "{{ content_type }}"
#   id                             = "{{ id }}"
#   key_vault_id                   = "{{ key_vault_id }}"
    name                           = "{{ name }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    value                          = "{{ value }}"
#   vault_uri                      = "{{ vault_uri }}"
#   version                        = "{{ version }}"
}
