resource "azurerm_monitor_action_group" "{{ tf_name }}" {
    enabled                        = {{ "true" if enabled else "false" }}
#   id                             = "{{ id }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
    short_name                     = "{{ short_name }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    email_receiver {
        email_address                  = "{{ email_address }}"
        name                           = "{{ name }}"
    }
    sms_receiver {
        country_code                   = "{{ country_code }}"
        name                           = "{{ name }}"
        phone_number                   = "{{ phone_number }}"
    }
    webhook_receiver {
        name                           = "{{ name }}"
        service_uri                    = "{{ service_uri }}"
    }
}
