resource "azurerm_automation_dsc_configuration" "{{ tf_name }}" {
    automation_account_name        = "{{ automation_account_name }}"
    content_embedded               = "{{ content_embedded }}"
    description                    = "{{ description }}"
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    log_verbose                    = {{ "true" if log_verbose else "false" }}
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
#   state                          = "{{ state }}"
}
