resource "azurerm_cognitive_account" "{{ tf_name }}" {
#   endpoint                       = "{{ endpoint }}"
#   id                             = "{{ id }}"
    kind                           = "{{ kind }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
#   primary_access_key             = "{{ primary_access_key }}"
    resource_group_name            = "{{ resource_group_name }}"
#   secondary_access_key           = "{{ secondary_access_key }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    sku {
        name                           = "{{ name }}"
        tier                           = "{{ tier }}"
    }
}
