resource "azurerm_virtual_machine_scale_set" "{{ tf_name }}" {
    automatic_os_upgrade           = {{ "true" if automatic_os_upgrade else "false" }}
    eviction_policy                = "{{ eviction_policy }}"
    health_probe_id                = "{{ health_probe_id }}"
#   id                             = "{{ id }}"
#   license_type                   = "{{ license_type }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    overprovision                  = {{ "true" if overprovision else "false" }}
    priority                       = "{{ priority }}"
    proximity_placement_group_id   = "{{ proximity_placement_group_id }}"
    resource_group_name            = "{{ resource_group_name }}"
    single_placement_group         = {{ "true" if single_placement_group else "false" }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    upgrade_policy_mode            = "{{ upgrade_policy_mode }}"
    zones                          = [{% for i_0 in zones %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    boot_diagnostics {
        enabled                        = {{ "true" if enabled else "false" }}
        storage_uri                    = "{{ storage_uri }}"
    }
    extension {
        auto_upgrade_minor_version     = {{ "true" if auto_upgrade_minor_version else "false" }}
        name                           = "{{ name }}"
        protected_settings             = "{{ protected_settings }}"
        provision_after_extensions     = [{% for i_1 in provision_after_extensions %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        publisher                      = "{{ publisher }}"
        settings                       = "{{ settings }}"
        type                           = "{{ type }}"
        type_handler_version           = "{{ type_handler_version }}"
    }
    identity {
        identity_ids                   = [{% for i_1 in identity_ids %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

#       principal_id                   = "{{ principal_id }}"
        type                           = "{{ type }}"
    }
    network_profile {
        accelerated_networking         = {{ "true" if accelerated_networking else "false" }}
        ip_forwarding                  = {{ "true" if ip_forwarding else "false" }}
        name                           = "{{ name }}"
        network_security_group_id      = "{{ network_security_group_id }}"
        primary                        = {{ "true" if primary else "false" }}
        dns_settings {
            dns_servers                    = [{% for i_2 in dns_servers %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

        }
        ip_configuration {
            application_gateway_backend_address_pool_ids = [{% for i_2 in application_gateway_backend_address_pool_ids %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

            application_security_group_ids = [{% for i_2 in application_security_group_ids %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

            load_balancer_backend_address_pool_ids = [{% for i_2 in load_balancer_backend_address_pool_ids %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

#           load_balancer_inbound_nat_rules_ids = [{% for i_2 in load_balancer_inbound_nat_rules_ids %}
#                                            {{ i_2 }}{% if not loop.last %},{% endif %}
#                                            {% endfor %}]

            name                           = "{{ name }}"
            primary                        = {{ "true" if primary else "false" }}
            subnet_id                      = "{{ subnet_id }}"
            public_ip_address_configuration {
                domain_name_label              = "{{ domain_name_label }}"
                idle_timeout                   = {{ idle_timeout }}
                name                           = "{{ name }}"
            }
        }
    }
    os_profile {
        admin_password                 = "{{ admin_password }}"
        admin_username                 = "{{ admin_username }}"
        computer_name_prefix           = "{{ computer_name_prefix }}"
        custom_data                    = "{{ custom_data }}"
    }
    os_profile_linux_config {
        disable_password_authentication = {{ "true" if disable_password_authentication else "false" }}
        ssh_keys {
            key_data                       = "{{ key_data }}"
            path                           = "{{ path }}"
        }
    }
    os_profile_secrets {
        source_vault_id                = "{{ source_vault_id }}"
        vault_certificates {
            certificate_store              = "{{ certificate_store }}"
            certificate_url                = "{{ certificate_url }}"
        }
    }
    os_profile_windows_config {
        enable_automatic_upgrades      = {{ "true" if enable_automatic_upgrades else "false" }}
        provision_vm_agent             = {{ "true" if provision_vm_agent else "false" }}
        additional_unattend_config {
            component                      = "{{ component }}"
            content                        = "{{ content }}"
            pass                           = "{{ pass }}"
            setting_name                   = "{{ setting_name }}"
        }
        winrm {
            certificate_url                = "{{ certificate_url }}"
            protocol                       = "{{ protocol }}"
        }
    }
    plan {
        name                           = "{{ name }}"
        product                        = "{{ product }}"
        publisher                      = "{{ publisher }}"
    }
    rolling_upgrade_policy {
        max_batch_instance_percent     = {{ max_batch_instance_percent }}
        max_unhealthy_instance_percent = {{ max_unhealthy_instance_percent }}
        max_unhealthy_upgraded_instance_percent = {{ max_unhealthy_upgraded_instance_percent }}
        pause_time_between_batches     = "{{ pause_time_between_batches }}"
    }
    sku {
        capacity                       = {{ capacity }}
        name                           = "{{ name }}"
#       tier                           = "{{ tier }}"
    }
    storage_profile_data_disk {
#       caching                        = "{{ caching }}"
        create_option                  = "{{ create_option }}"
#       disk_size_gb                   = {{ disk_size_gb }}
        lun                            = {{ lun }}
#       managed_disk_type              = "{{ managed_disk_type }}"
    }
    storage_profile_image_reference {
        id                             = "{{ id }}"
        offer                          = "{{ offer }}"
        publisher                      = "{{ publisher }}"
        sku                            = "{{ sku }}"
        version                        = "{{ version }}"
    }
    storage_profile_os_disk {
#       caching                        = "{{ caching }}"
        create_option                  = "{{ create_option }}"
        image                          = "{{ image }}"
#       managed_disk_type              = "{{ managed_disk_type }}"
        name                           = "{{ name }}"
        os_type                        = "{{ os_type }}"
        vhd_containers                 = [{% for i_1 in vhd_containers %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

    }
}
