resource "azurerm_notification_hub_namespace" "{{ tf_name }}" {
    enabled                        = {{ "true" if enabled else "false" }}
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    namespace_type                 = "{{ namespace_type }}"
    resource_group_name            = "{{ resource_group_name }}"
#   servicebus_endpoint            = "{{ servicebus_endpoint }}"
#   sku_name                       = "{{ sku_name }}"
    sku {
        name                           = "{{ name }}"
    }
}
