resource "azurerm_recovery_services_protection_container" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    name                           = "{{ name }}"
    recovery_fabric_name           = "{{ recovery_fabric_name }}"
    recovery_vault_name            = "{{ recovery_vault_name }}"
    resource_group_name            = "{{ resource_group_name }}"
}
