resource "azurerm_data_lake_store_file" "{{ tf_name }}" {
    account_name                   = "{{ account_name }}"
#   id                             = "{{ id }}"
    local_file_path                = "{{ local_file_path }}"
    remote_file_path               = "{{ remote_file_path }}"
}
