resource "azurerm_network_security_rule" "{{ tf_name }}" {
    access                         = "{{ access }}"
    description                    = "{{ description }}"
    destination_address_prefix     = "{{ destination_address_prefix }}"
    destination_address_prefixes   = [{% for i_0 in destination_address_prefixes %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    destination_application_security_group_ids = [{% for i_0 in destination_application_security_group_ids %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    destination_port_range         = "{{ destination_port_range }}"
    destination_port_ranges        = [{% for i_0 in destination_port_ranges %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    direction                      = "{{ direction }}"
#   id                             = "{{ id }}"
    name                           = "{{ name }}"
    network_security_group_name    = "{{ network_security_group_name }}"
    priority                       = {{ priority }}
    protocol                       = "{{ protocol }}"
    resource_group_name            = "{{ resource_group_name }}"
    source_address_prefix          = "{{ source_address_prefix }}"
    source_address_prefixes        = [{% for i_0 in source_address_prefixes %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    source_application_security_group_ids = [{% for i_0 in source_application_security_group_ids %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    source_port_range              = "{{ source_port_range }}"
    source_port_ranges             = [{% for i_0 in source_port_ranges %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

}
