resource "azurerm_api_management_api" "{{ tf_name }}" {
    api_management_name            = "{{ api_management_name }}"
    description                    = "{{ description }}"
    display_name                   = "{{ display_name }}"
#   id                             = "{{ id }}"
#   is_current                     = {{ "true" if is_current else "false" }}
#   is_online                      = {{ "true" if is_online else "false" }}
    name                           = "{{ name }}"
    path                           = "{{ path }}"
    protocols                      = [{% for i_0 in protocols %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    resource_group_name            = "{{ resource_group_name }}"
    revision                       = "{{ revision }}"
#   service_url                    = "{{ service_url }}"
    soap_pass_through              = {{ "true" if soap_pass_through else "false" }}
#   version                        = "{{ version }}"
#   version_set_id                 = "{{ version_set_id }}"
    import {
        content_format                 = "{{ content_format }}"
        content_value                  = "{{ content_value }}"
        wsdl_selector {
            endpoint_name                  = "{{ endpoint_name }}"
            service_name                   = "{{ service_name }}"
        }
    }
    subscription_key_parameter_names {
        header                         = "{{ header }}"
        query                          = "{{ query }}"
    }
}
