resource "azurerm_api_management" "{{ tf_name }}" {
#   gateway_regional_url           = "{{ gateway_regional_url }}"
#   gateway_url                    = "{{ gateway_url }}"
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
#   management_api_url             = "{{ management_api_url }}"
    name                           = "{{ name }}"
#   notification_sender_email      = "{{ notification_sender_email }}"
#   policy                         = [{% for i_0 in policy %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

#   portal_url                     = "{{ portal_url }}"
#   public_ip_addresses            = [{% for i_0 in public_ip_addresses %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

    publisher_email                = "{{ publisher_email }}"
    publisher_name                 = "{{ publisher_name }}"
    resource_group_name            = "{{ resource_group_name }}"
#   scm_url                        = "{{ scm_url }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    additional_location {
#       gateway_regional_url           = "{{ gateway_regional_url }}"
        location                       = "{{ location }}"
#       public_ip_addresses            = [{% for i_1 in public_ip_addresses %}
#                                        {{ i_1 }}{% if not loop.last %},{% endif %}
#                                        {% endfor %}]

    }
    certificate {
        certificate_password           = "{{ certificate_password }}"
        encoded_certificate            = "{{ encoded_certificate }}"
        store_name                     = "{{ store_name }}"
    }
    hostname_configuration {
        management {
            certificate                    = "{{ certificate }}"
            certificate_password           = "{{ certificate_password }}"
            host_name                      = "{{ host_name }}"
            key_vault_id                   = "{{ key_vault_id }}"
            negotiate_client_certificate   = {{ "true" if negotiate_client_certificate else "false" }}
        }
        portal {
            certificate                    = "{{ certificate }}"
            certificate_password           = "{{ certificate_password }}"
            host_name                      = "{{ host_name }}"
            key_vault_id                   = "{{ key_vault_id }}"
            negotiate_client_certificate   = {{ "true" if negotiate_client_certificate else "false" }}
        }
        proxy {
            certificate                    = "{{ certificate }}"
            certificate_password           = "{{ certificate_password }}"
#           default_ssl_binding            = {{ "true" if default_ssl_binding else "false" }}
            host_name                      = "{{ host_name }}"
            key_vault_id                   = "{{ key_vault_id }}"
            negotiate_client_certificate   = {{ "true" if negotiate_client_certificate else "false" }}
        }
        scm {
            certificate                    = "{{ certificate }}"
            certificate_password           = "{{ certificate_password }}"
            host_name                      = "{{ host_name }}"
            key_vault_id                   = "{{ key_vault_id }}"
            negotiate_client_certificate   = {{ "true" if negotiate_client_certificate else "false" }}
        }
    }
    identity {
#       principal_id                   = "{{ principal_id }}"
#       tenant_id                      = "{{ tenant_id }}"
        type                           = "{{ type }}"
    }
    security {
        disable_backend_ssl30          = {{ "true" if disable_backend_ssl30 else "false" }}
        disable_backend_tls10          = {{ "true" if disable_backend_tls10 else "false" }}
        disable_backend_tls11          = {{ "true" if disable_backend_tls11 else "false" }}
        disable_frontend_ssl30         = {{ "true" if disable_frontend_ssl30 else "false" }}
        disable_frontend_tls10         = {{ "true" if disable_frontend_tls10 else "false" }}
        disable_frontend_tls11         = {{ "true" if disable_frontend_tls11 else "false" }}
#       disable_triple_des_chipers     = {{ "true" if disable_triple_des_chipers else "false" }}
#       disable_triple_des_ciphers     = {{ "true" if disable_triple_des_ciphers else "false" }}
    }
    sign_in {
        enabled                        = {{ "true" if enabled else "false" }}
    }
    sign_up {
        enabled                        = {{ "true" if enabled else "false" }}
        terms_of_service {
            consent_required               = {{ "true" if consent_required else "false" }}
            enabled                        = {{ "true" if enabled else "false" }}
            text                           = "{{ text }}"
        }
    }
    sku {
        capacity                       = {{ capacity }}
        name                           = "{{ name }}"
    }
}
