resource "azurerm_sql_virtual_network_rule" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    ignore_missing_vnet_service_endpoint = {{ "true" if ignore_missing_vnet_service_endpoint else "false" }}
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
    server_name                    = "{{ server_name }}"
    subnet_id                      = "{{ subnet_id }}"
}
