resource "azurerm_iothub_shared_access_policy" "{{ tf_name }}" {
    device_connect                 = {{ "true" if device_connect else "false" }}
#   id                             = "{{ id }}"
    iothub_name                    = "{{ iothub_name }}"
    name                           = "{{ name }}"
#   primary_connection_string      = "{{ primary_connection_string }}"
#   primary_key                    = "{{ primary_key }}"
    registry_read                  = {{ "true" if registry_read else "false" }}
    registry_write                 = {{ "true" if registry_write else "false" }}
    resource_group_name            = "{{ resource_group_name }}"
#   secondary_connection_string    = "{{ secondary_connection_string }}"
#   secondary_key                  = "{{ secondary_key }}"
    service_connect                = {{ "true" if service_connect else "false" }}
}
