resource "azurerm_api_management_product_api" "{{ tf_name }}" {
    api_management_name            = "{{ api_management_name }}"
    api_name                       = "{{ api_name }}"
#   id                             = "{{ id }}"
    product_id                     = "{{ product_id }}"
    resource_group_name            = "{{ resource_group_name }}"
}
