resource "azurerm_log_analytics_workspace" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
#   portal_url                     = "{{ portal_url }}"
#   primary_shared_key             = "{{ primary_shared_key }}"
    resource_group_name            = "{{ resource_group_name }}"
#   retention_in_days              = {{ retention_in_days }}
#   secondary_shared_key           = "{{ secondary_shared_key }}"
    sku                            = "{{ sku }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

#   workspace_id                   = "{{ workspace_id }}"
}
