resource "azurerm_mariadb_firewall_rule" "{{ tf_name }}" {
    end_ip_address                 = "{{ end_ip_address }}"
#   id                             = "{{ id }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
    server_name                    = "{{ server_name }}"
    start_ip_address               = "{{ start_ip_address }}"
}
