resource "azurerm_snapshot" "{{ tf_name }}" {
    create_option                  = "{{ create_option }}"
#   disk_size_gb                   = {{ disk_size_gb }}
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
    source_resource_id             = "{{ source_resource_id }}"
    source_uri                     = "{{ source_uri }}"
    storage_account_id             = "{{ storage_account_id }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    encryption_settings {
        enabled                        = {{ "true" if enabled else "false" }}
        disk_encryption_key {
            secret_url                     = "{{ secret_url }}"
            source_vault_id                = "{{ source_vault_id }}"
        }
        key_encryption_key {
            key_url                        = "{{ key_url }}"
            source_vault_id                = "{{ source_vault_id }}"
        }
    }
}
