resource "azurerm_management_group" "{{ tf_name }}" {
#   display_name                   = "{{ display_name }}"
#   group_id                       = "{{ group_id }}"
#   id                             = "{{ id }}"
#   parent_management_group_id     = "{{ parent_management_group_id }}"
    subscription_ids               = [{% for i_0 in subscription_ids %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

}
