resource "azurerm_storage_container" "{{ tf_name }}" {
    container_access_type          = "{{ container_access_type }}"
#   has_immutability_policy        = {{ "true" if has_immutability_policy else "false" }}
#   has_legal_hold                 = {{ "true" if has_legal_hold else "false" }}
#   id                             = "{{ id }}"
#   metadata                       = { {% for k, v in metadata.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    name                           = "{{ name }}"
#   properties                     = { {% for k, v in properties.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

#   resource_group_name            = "{{ resource_group_name }}"
    storage_account_name           = "{{ storage_account_name }}"
}
