resource "azurerm_firewall_network_rule_collection" "{{ tf_name }}" {
    action                         = "{{ action }}"
    azure_firewall_name            = "{{ azure_firewall_name }}"
#   id                             = "{{ id }}"
    name                           = "{{ name }}"
    priority                       = {{ priority }}
    resource_group_name            = "{{ resource_group_name }}"
    rule {
        description                    = "{{ description }}"
        destination_addresses          = [{% for i_1 in destination_addresses %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        destination_ports              = [{% for i_1 in destination_ports %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        name                           = "{{ name }}"
        protocols                      = [{% for i_1 in protocols %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        source_addresses               = [{% for i_1 in source_addresses %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

    }
}
