resource "azurerm_user_assigned_identity" "{{ tf_name }}" {
#   client_id                      = "{{ client_id }}"
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
#   principal_id                   = "{{ principal_id }}"
    resource_group_name            = "{{ resource_group_name }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

}
