resource "azurerm_api_management_certificate" "{{ tf_name }}" {
    api_management_name            = "{{ api_management_name }}"
    data                           = "{{ data }}"
#   expiration                     = "{{ expiration }}"
#   id                             = "{{ id }}"
    name                           = "{{ name }}"
    password                       = "{{ password }}"
    resource_group_name            = "{{ resource_group_name }}"
#   subject                        = "{{ subject }}"
#   thumbprint                     = "{{ thumbprint }}"
}
