resource "azurerm_network_interface_application_security_group_association" "{{ tf_name }}" {
    application_security_group_id  = "{{ application_security_group_id }}"
#   id                             = "{{ id }}"
    ip_configuration_name          = "{{ ip_configuration_name }}"
    network_interface_id           = "{{ network_interface_id }}"
}
