resource "azurerm_log_analytics_solution" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    resource_group_name            = "{{ resource_group_name }}"
    solution_name                  = "{{ solution_name }}"
    workspace_name                 = "{{ workspace_name }}"
    workspace_resource_id          = "{{ workspace_resource_id }}"
    plan {
#       name                           = "{{ name }}"
        product                        = "{{ product }}"
        promotion_code                 = "{{ promotion_code }}"
        publisher                      = "{{ publisher }}"
    }
}
