resource "azurerm_logic_app_workflow" "{{ tf_name }}" {
#   access_endpoint                = "{{ access_endpoint }}"
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    parameters                     = { {% for k, v in parameters.items() %}
                                     {{ k }} = {{ v }}{% endfor %}
                                     }

    resource_group_name            = "{{ resource_group_name }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    workflow_schema                = "{{ workflow_schema }}"
    workflow_version               = "{{ workflow_version }}"
}
