resource "azurerm_recovery_replicated_vm" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    managed_disk                   = [{% for i_0 in managed_disk %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    name                           = "{{ name }}"
    recovery_replication_policy_id = "{{ recovery_replication_policy_id }}"
    recovery_vault_name            = "{{ recovery_vault_name }}"
    resource_group_name            = "{{ resource_group_name }}"
    source_recovery_fabric_name    = "{{ source_recovery_fabric_name }}"
    source_recovery_protection_container_name = "{{ source_recovery_protection_container_name }}"
    source_vm_id                   = "{{ source_vm_id }}"
    target_availability_set_id     = "{{ target_availability_set_id }}"
    target_recovery_fabric_id      = "{{ target_recovery_fabric_id }}"
    target_recovery_protection_container_id = "{{ target_recovery_protection_container_id }}"
    target_resource_group_id       = "{{ target_resource_group_id }}"
}
