resource "azurerm_log_analytics_workspace_linked_service" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    linked_service_name            = "{{ linked_service_name }}"
#   name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
#   resource_id                    = "{{ resource_id }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    workspace_name                 = "{{ workspace_name }}"
    linked_service_properties {
        resource_id                    = "{{ resource_id }}"
    }
}
