resource "azurerm_api_management_api_version_set" "{{ tf_name }}" {
    api_management_name            = "{{ api_management_name }}"
    description                    = "{{ description }}"
    display_name                   = "{{ display_name }}"
#   id                             = "{{ id }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
    version_header_name            = "{{ version_header_name }}"
    version_query_name             = "{{ version_query_name }}"
    versioning_scheme              = "{{ versioning_scheme }}"
}
