resource "azurerm_recovery_services_protection_container_mapping" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    name                           = "{{ name }}"
    recovery_fabric_name           = "{{ recovery_fabric_name }}"
    recovery_replication_policy_id = "{{ recovery_replication_policy_id }}"
    recovery_source_protection_container_name = "{{ recovery_source_protection_container_name }}"
    recovery_target_protection_container_id = "{{ recovery_target_protection_container_id }}"
    recovery_vault_name            = "{{ recovery_vault_name }}"
    resource_group_name            = "{{ resource_group_name }}"
}
