resource "azurerm_local_network_gateway" "{{ tf_name }}" {
    address_space                  = [{% for i_0 in address_space %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    gateway_address                = "{{ gateway_address }}"
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    bgp_settings {
        asn                            = {{ asn }}
        bgp_peering_address            = "{{ bgp_peering_address }}"
#       peer_weight                    = {{ peer_weight }}
    }
}
