resource "azurerm_key_vault" "{{ tf_name }}" {
#   access_policy                  = [{% for i_0 in access_policy %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

    enabled_for_deployment         = {{ "true" if enabled_for_deployment else "false" }}
    enabled_for_disk_encryption    = {{ "true" if enabled_for_disk_encryption else "false" }}
    enabled_for_template_deployment = {{ "true" if enabled_for_template_deployment else "false" }}
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
#   sku_name                       = "{{ sku_name }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    tenant_id                      = "{{ tenant_id }}"
#   vault_uri                      = "{{ vault_uri }}"
    network_acls {
        bypass                         = "{{ bypass }}"
        default_action                 = "{{ default_action }}"
        ip_rules                       = [{% for i_1 in ip_rules %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        virtual_network_subnet_ids     = [{% for i_1 in virtual_network_subnet_ids %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

    }
    sku {
        name                           = "{{ name }}"
    }
}
