resource "azurerm_express_route_circuit_authorization" "{{ tf_name }}" {
#   authorization_key              = "{{ authorization_key }}"
#   authorization_use_status       = "{{ authorization_use_status }}"
    express_route_circuit_name     = "{{ express_route_circuit_name }}"
#   id                             = "{{ id }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
}
