resource "azurerm_automation_variable_string" "{{ tf_name }}" {
    automation_account_name        = "{{ automation_account_name }}"
    description                    = "{{ description }}"
    encrypted                      = {{ "true" if encrypted else "false" }}
#   id                             = "{{ id }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
    value                          = "{{ value }}"
}
