resource "azurerm_analysis_services_server" "{{ tf_name }}" {
    admin_users                    = [{% for i_0 in admin_users %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    enable_power_bi_service        = {{ "true" if enable_power_bi_service else "false" }}
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
#   querypool_connection_mode      = "{{ querypool_connection_mode }}"
    resource_group_name            = "{{ resource_group_name }}"
    sku                            = "{{ sku }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    ipv4_firewall_rule {
        name                           = "{{ name }}"
        range_end                      = "{{ range_end }}"
        range_start                    = "{{ range_start }}"
    }
}
