resource "azurerm_dns_ptr_record" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    name                           = "{{ name }}"
    records                        = [{% for i_0 in records %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    resource_group_name            = "{{ resource_group_name }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    ttl                            = {{ ttl }}
    zone_name                      = "{{ zone_name }}"
}
