resource "azurerm_monitor_log_profile" "{{ tf_name }}" {
    categories                     = [{% for i_0 in categories %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

#   id                             = "{{ id }}"
    locations                      = [{% for i_0 in locations %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    name                           = "{{ name }}"
    servicebus_rule_id             = "{{ servicebus_rule_id }}"
    storage_account_id             = "{{ storage_account_id }}"
    retention_policy {
        days                           = {{ days }}
        enabled                        = {{ "true" if enabled else "false" }}
    }
}
