resource "azurerm_dev_test_schedule" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    lab_name                       = "{{ lab_name }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
    status                         = "{{ status }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    task_type                      = "{{ task_type }}"
    time_zone_id                   = "{{ time_zone_id }}"
    daily_recurrence {
        time                           = "{{ time }}"
    }
    hourly_recurrence {
        minute                         = {{ minute }}
    }
    notification_settings {
        status                         = "{{ status }}"
        time_in_minutes                = {{ time_in_minutes }}
        webhook_url                    = "{{ webhook_url }}"
    }
    weekly_recurrence {
        time                           = "{{ time }}"
        week_days                      = [{% for i_1 in week_days %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

    }
}
