resource "azurerm_service_fabric_cluster" "{{ tf_name }}" {
    add_on_features                = [{% for i_0 in add_on_features %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

#   cluster_code_version           = "{{ cluster_code_version }}"
#   cluster_endpoint               = "{{ cluster_endpoint }}"
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    management_endpoint            = "{{ management_endpoint }}"
    name                           = "{{ name }}"
    reliability_level              = "{{ reliability_level }}"
    resource_group_name            = "{{ resource_group_name }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    upgrade_mode                   = "{{ upgrade_mode }}"
    vm_image                       = "{{ vm_image }}"
    azure_active_directory {
        client_application_id          = "{{ client_application_id }}"
        cluster_application_id         = "{{ cluster_application_id }}"
        tenant_id                      = "{{ tenant_id }}"
    }
    certificate {
        thumbprint                     = "{{ thumbprint }}"
        thumbprint_secondary           = "{{ thumbprint_secondary }}"
        x509_store_name                = "{{ x509_store_name }}"
    }
    certificate_common_names {
        x509_store_name                = "{{ x509_store_name }}"
        common_names {
            certificate_common_name        = "{{ certificate_common_name }}"
            certificate_issuer_thumbprint  = "{{ certificate_issuer_thumbprint }}"
        }
    }
    client_certificate_thumbprint {
        is_admin                       = {{ "true" if is_admin else "false" }}
        thumbprint                     = "{{ thumbprint }}"
    }
    diagnostics_config {
        blob_endpoint                  = "{{ blob_endpoint }}"
        protected_account_key_name     = "{{ protected_account_key_name }}"
        queue_endpoint                 = "{{ queue_endpoint }}"
        storage_account_name           = "{{ storage_account_name }}"
        table_endpoint                 = "{{ table_endpoint }}"
    }
    fabric_settings {
        name                           = "{{ name }}"
        parameters                     = { {% for k, v in parameters.items() %}
                                         {{ k }} = {{ v }}{% endfor %}
                                         }

    }
    node_type {
        capacities                     = { {% for k, v in capacities.items() %}
                                         {{ k }} = {{ v }}{% endfor %}
                                         }

        client_endpoint_port           = {{ client_endpoint_port }}
        durability_level               = "{{ durability_level }}"
        http_endpoint_port             = {{ http_endpoint_port }}
        instance_count                 = {{ instance_count }}
        is_primary                     = {{ "true" if is_primary else "false" }}
        name                           = "{{ name }}"
        placement_properties           = { {% for k, v in placement_properties.items() %}
                                         {{ k }} = {{ v }}{% endfor %}
                                         }

        reverse_proxy_endpoint_port    = {{ reverse_proxy_endpoint_port }}
        application_ports {
            end_port                       = {{ end_port }}
            start_port                     = {{ start_port }}
        }
        ephemeral_ports {
            end_port                       = {{ end_port }}
            start_port                     = {{ start_port }}
        }
    }
    reverse_proxy_certificate {
        thumbprint                     = "{{ thumbprint }}"
        thumbprint_secondary           = "{{ thumbprint_secondary }}"
        x509_store_name                = "{{ x509_store_name }}"
    }
}
