resource "azurerm_security_center_contact" "{{ tf_name }}" {
    alert_notifications            = {{ "true" if alert_notifications else "false" }}
    alerts_to_admins               = {{ "true" if alerts_to_admins else "false" }}
    email                          = "{{ email }}"
#   id                             = "{{ id }}"
    phone                          = "{{ phone }}"
}
