resource "azurerm_api_management_product" "{{ tf_name }}" {
    api_management_name            = "{{ api_management_name }}"
    approval_required              = {{ "true" if approval_required else "false" }}
    description                    = "{{ description }}"
    display_name                   = "{{ display_name }}"
#   id                             = "{{ id }}"
    product_id                     = "{{ product_id }}"
    published                      = {{ "true" if published else "false" }}
    resource_group_name            = "{{ resource_group_name }}"
    subscription_required          = {{ "true" if subscription_required else "false" }}
    subscriptions_limit            = {{ subscriptions_limit }}
    terms                          = "{{ terms }}"
}
