resource "azurerm_iothub" "{{ tf_name }}" {
#   event_hub_events_endpoint      = "{{ event_hub_events_endpoint }}"
#   event_hub_events_path          = "{{ event_hub_events_path }}"
#   event_hub_operations_endpoint  = "{{ event_hub_operations_endpoint }}"
#   event_hub_operations_path      = "{{ event_hub_operations_path }}"
#   hostname                       = "{{ hostname }}"
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
#   shared_access_policy           = [{% for i_0 in shared_access_policy %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

#   type                           = "{{ type }}"
    endpoint {
        batch_frequency_in_seconds     = {{ batch_frequency_in_seconds }}
        connection_string              = "{{ connection_string }}"
        container_name                 = "{{ container_name }}"
        encoding                       = "{{ encoding }}"
        file_name_format               = "{{ file_name_format }}"
        max_chunk_size_in_bytes        = {{ max_chunk_size_in_bytes }}
        name                           = "{{ name }}"
        type                           = "{{ type }}"
    }
    fallback_route {
        condition                      = "{{ condition }}"
#       enabled                        = {{ "true" if enabled else "false" }}
#       endpoint_names                 = [{% for i_1 in endpoint_names %}
#                                        {{ i_1 }}{% if not loop.last %},{% endif %}
#                                        {% endfor %}]

        source                         = "{{ source }}"
    }
    file_upload {
        connection_string              = "{{ connection_string }}"
        container_name                 = "{{ container_name }}"
#       default_ttl                    = "{{ default_ttl }}"
#       lock_duration                  = "{{ lock_duration }}"
        max_delivery_count             = {{ max_delivery_count }}
        notifications                  = {{ "true" if notifications else "false" }}
#       sas_ttl                        = "{{ sas_ttl }}"
    }
    ip_filter_rule {
        action                         = "{{ action }}"
        ip_mask                        = "{{ ip_mask }}"
        name                           = "{{ name }}"
    }
    route {
        condition                      = "{{ condition }}"
        enabled                        = {{ "true" if enabled else "false" }}
        endpoint_names                 = [{% for i_1 in endpoint_names %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        name                           = "{{ name }}"
        source                         = "{{ source }}"
    }
    sku {
        capacity                       = {{ capacity }}
        name                           = "{{ name }}"
        tier                           = "{{ tier }}"
    }
}
