resource "azurerm_private_dns_zone_virtual_network_link" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    name                           = "{{ name }}"
    private_dns_zone_name          = "{{ private_dns_zone_name }}"
    registration_enabled           = {{ "true" if registration_enabled else "false" }}
    resource_group_name            = "{{ resource_group_name }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    virtual_network_id             = "{{ virtual_network_id }}"
}
