resource "azurerm_frontdoor_firewall_policy" "{{ tf_name }}" {
    custom_block_response_body     = "{{ custom_block_response_body }}"
    custom_block_response_status_code = {{ custom_block_response_status_code }}
    enabled                        = {{ "true" if enabled else "false" }}
#   frontend_endpoint_ids          = [{% for i_0 in frontend_endpoint_ids %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

#   id                             = "{{ id }}"
#   location                       = "{{ location }}"
    mode                           = "{{ mode }}"
    name                           = "{{ name }}"
    redirect_url                   = "{{ redirect_url }}"
    resource_group_name            = "{{ resource_group_name }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    custom_rule {
        action                         = "{{ action }}"
        enabled                        = {{ "true" if enabled else "false" }}
        name                           = "{{ name }}"
        priority                       = {{ priority }}
        rate_limit_duration_in_minutes = {{ rate_limit_duration_in_minutes }}
        rate_limit_threshold           = {{ rate_limit_threshold }}
        type                           = "{{ type }}"
        match_condition {
            match_values                   = [{% for i_2 in match_values %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

            match_variable                 = "{{ match_variable }}"
            negation_condition             = {{ "true" if negation_condition else "false" }}
            operator                       = "{{ operator }}"
            selector                       = "{{ selector }}"
            transforms                     = [{% for i_2 in transforms %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

        }
    }
    managed_rule {
        type                           = "{{ type }}"
        version                        = "{{ version }}"
        override {
            rule_group_name                = "{{ rule_group_name }}"
            rule {
                action                         = "{{ action }}"
                enabled                        = {{ "true" if enabled else "false" }}
                rule_id                        = "{{ rule_id }}"
            }
        }
    }
}
