resource "azurerm_data_lake_store" "{{ tf_name }}" {
    encryption_state               = "{{ encryption_state }}"
#   encryption_type                = "{{ encryption_type }}"
#   endpoint                       = "{{ endpoint }}"
    firewall_allow_azure_ips       = "{{ firewall_allow_azure_ips }}"
    firewall_state                 = "{{ firewall_state }}"
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    tier                           = "{{ tier }}"
}
