resource "azurerm_api_management_group" "{{ tf_name }}" {
    api_management_name            = "{{ api_management_name }}"
    description                    = "{{ description }}"
    display_name                   = "{{ display_name }}"
    external_id                    = "{{ external_id }}"
#   id                             = "{{ id }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
    type                           = "{{ type }}"
}
