resource "azurerm_eventhub_authorization_rule" "{{ tf_name }}" {
    eventhub_name                  = "{{ eventhub_name }}"
#   id                             = "{{ id }}"
    listen                         = {{ "true" if listen else "false" }}
    location                       = "{{ location }}"
    manage                         = {{ "true" if manage else "false" }}
    name                           = "{{ name }}"
    namespace_name                 = "{{ namespace_name }}"
#   primary_connection_string      = "{{ primary_connection_string }}"
#   primary_key                    = "{{ primary_key }}"
    resource_group_name            = "{{ resource_group_name }}"
#   secondary_connection_string    = "{{ secondary_connection_string }}"
#   secondary_key                  = "{{ secondary_key }}"
    send                           = {{ "true" if send else "false" }}
}
