resource "azurerm_managed_disk" "{{ tf_name }}" {
    create_option                  = "{{ create_option }}"
#   disk_iops_read_write           = {{ disk_iops_read_write }}
#   disk_mbps_read_write           = {{ disk_mbps_read_write }}
#   disk_size_gb                   = {{ disk_size_gb }}
#   id                             = "{{ id }}"
    image_reference_id             = "{{ image_reference_id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    os_type                        = "{{ os_type }}"
    resource_group_name            = "{{ resource_group_name }}"
    source_resource_id             = "{{ source_resource_id }}"
#   source_uri                     = "{{ source_uri }}"
    storage_account_type           = "{{ storage_account_type }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    zones                          = [{% for i_0 in zones %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    encryption_settings {
        enabled                        = {{ "true" if enabled else "false" }}
        disk_encryption_key {
            secret_url                     = "{{ secret_url }}"
            source_vault_id                = "{{ source_vault_id }}"
        }
        key_encryption_key {
            key_url                        = "{{ key_url }}"
            source_vault_id                = "{{ source_vault_id }}"
        }
    }
}
