resource "azurerm_data_factory" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    github_configuration {
        account_name                   = "{{ account_name }}"
        branch_name                    = "{{ branch_name }}"
        git_url                        = "{{ git_url }}"
        repository_name                = "{{ repository_name }}"
        root_folder                    = "{{ root_folder }}"
    }
    identity {
#       principal_id                   = "{{ principal_id }}"
#       tenant_id                      = "{{ tenant_id }}"
        type                           = "{{ type }}"
    }
    vsts_configuration {
        account_name                   = "{{ account_name }}"
        branch_name                    = "{{ branch_name }}"
        project_name                   = "{{ project_name }}"
        repository_name                = "{{ repository_name }}"
        root_folder                    = "{{ root_folder }}"
        tenant_id                      = "{{ tenant_id }}"
    }
}
