resource "azurerm_lb_outbound_rule" "{{ tf_name }}" {
    allocated_outbound_ports       = {{ allocated_outbound_ports }}
    backend_address_pool_id        = "{{ backend_address_pool_id }}"
    enable_tcp_reset               = {{ "true" if enable_tcp_reset else "false" }}
#   id                             = "{{ id }}"
    idle_timeout_in_minutes        = {{ idle_timeout_in_minutes }}
    loadbalancer_id                = "{{ loadbalancer_id }}"
    name                           = "{{ name }}"
    protocol                       = "{{ protocol }}"
    resource_group_name            = "{{ resource_group_name }}"
    frontend_ip_configuration {
#       id                             = "{{ id }}"
        name                           = "{{ name }}"
    }
}
