resource "azurerm_recovery_services_fabric" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    recovery_vault_name            = "{{ recovery_vault_name }}"
    resource_group_name            = "{{ resource_group_name }}"
}
