resource "azurerm_recovery_network_mapping" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    name                           = "{{ name }}"
    recovery_vault_name            = "{{ recovery_vault_name }}"
    resource_group_name            = "{{ resource_group_name }}"
    source_network_id              = "{{ source_network_id }}"
    source_recovery_fabric_name    = "{{ source_recovery_fabric_name }}"
    target_network_id              = "{{ target_network_id }}"
    target_recovery_fabric_name    = "{{ target_recovery_fabric_name }}"
}
