resource "azurerm_bot_channels_registration" "{{ tf_name }}" {
#   developer_app_insights_api_key = "{{ developer_app_insights_api_key }}"
#   developer_app_insights_application_id = "{{ developer_app_insights_application_id }}"
#   developer_app_insights_key     = "{{ developer_app_insights_key }}"
#   display_name                   = "{{ display_name }}"
    endpoint                       = "{{ endpoint }}"
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    microsoft_app_id               = "{{ microsoft_app_id }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
    sku                            = "{{ sku }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

}
