resource "azurerm_media_services_account" "{{ tf_name }}" {
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    resource_group_name            = "{{ resource_group_name }}"
    storage_account {
        id                             = "{{ id }}"
        is_primary                     = {{ "true" if is_primary else "false" }}
    }
}
