resource "azurerm_dev_test_policy" "{{ tf_name }}" {
    description                    = "{{ description }}"
    evaluator_type                 = "{{ evaluator_type }}"
    fact_data                      = "{{ fact_data }}"
#   id                             = "{{ id }}"
    lab_name                       = "{{ lab_name }}"
    name                           = "{{ name }}"
    policy_set_name                = "{{ policy_set_name }}"
    resource_group_name            = "{{ resource_group_name }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    threshold                      = "{{ threshold }}"
}
