resource "azurerm_route" "{{ tf_name }}" {
    address_prefix                 = "{{ address_prefix }}"
#   id                             = "{{ id }}"
    name                           = "{{ name }}"
    next_hop_in_ip_address         = "{{ next_hop_in_ip_address }}"
    next_hop_type                  = "{{ next_hop_type }}"
    resource_group_name            = "{{ resource_group_name }}"
    route_table_name               = "{{ route_table_name }}"
}
