resource "azurerm_cdn_endpoint" "{{ tf_name }}" {
#   content_types_to_compress      = [{% for i_0 in content_types_to_compress %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

#   host_name                      = "{{ host_name }}"
#   id                             = "{{ id }}"
    is_compression_enabled         = {{ "true" if is_compression_enabled else "false" }}
    is_http_allowed                = {{ "true" if is_http_allowed else "false" }}
    is_https_allowed               = {{ "true" if is_https_allowed else "false" }}
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    optimization_type              = "{{ optimization_type }}"
#   origin_host_header             = "{{ origin_host_header }}"
#   origin_path                    = "{{ origin_path }}"
#   probe_path                     = "{{ probe_path }}"
    profile_name                   = "{{ profile_name }}"
    querystring_caching_behaviour  = "{{ querystring_caching_behaviour }}"
    resource_group_name            = "{{ resource_group_name }}"
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    geo_filter {
        action                         = "{{ action }}"
        country_codes                  = [{% for i_1 in country_codes %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        relative_path                  = "{{ relative_path }}"
    }
    origin {
        host_name                      = "{{ host_name }}"
        http_port                      = {{ http_port }}
        https_port                     = {{ https_port }}
        name                           = "{{ name }}"
    }
}
