resource "azurerm_eventhub_consumer_group" "{{ tf_name }}" {
    eventhub_name                  = "{{ eventhub_name }}"
#   id                             = "{{ id }}"
    location                       = "{{ location }}"
    name                           = "{{ name }}"
    namespace_name                 = "{{ namespace_name }}"
    resource_group_name            = "{{ resource_group_name }}"
    user_metadata                  = "{{ user_metadata }}"
}
