resource "azurerm_firewall" "{{ tf_name }}" {
#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    ip_configuration {
#       internal_public_ip_address_id  = {{ internal_public_ip_address_id }}
        name                           = {{ name }}
#       private_ip_address             = {{ private_ip_address }}
#       public_ip_address_id           = {{ public_ip_address_id }}
        subnet_id                      = {{ subnet_id }}
    }
}
