resource "azurerm_stream_analytics_output_eventhub" "{{ tf_name }}" {
    eventhub_name                  = {{ eventhub_name }}
#   id                             = {{ id }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
    servicebus_namespace           = {{ servicebus_namespace }}
    shared_access_policy_key       = {{ shared_access_policy_key }}
    shared_access_policy_name      = {{ shared_access_policy_name }}
    stream_analytics_job_name      = {{ stream_analytics_job_name }}
    serialization {
        encoding                       = {{ encoding }}
        field_delimiter                = {{ field_delimiter }}
        format                         = {{ format }}
        type                           = {{ type }}
    }
}
