resource "azurerm_network_packet_capture" "{{ tf_name }}" {
#   id                             = {{ id }}
    maximum_bytes_per_packet       = {{ maximum_bytes_per_packet }}
    maximum_bytes_per_session      = {{ maximum_bytes_per_session }}
    maximum_capture_duration       = {{ maximum_capture_duration }}
    name                           = {{ name }}
    network_watcher_name           = {{ network_watcher_name }}
    resource_group_name            = {{ resource_group_name }}
    target_resource_id             = {{ target_resource_id }}
    filter {
        local_ip_address               = {{ local_ip_address }}
        local_port                     = {{ local_port }}
        protocol                       = {{ protocol }}
        remote_ip_address              = {{ remote_ip_address }}
        remote_port                    = {{ remote_port }}
    }
    storage_location {
        file_path                      = {{ file_path }}
        storage_account_id             = {{ storage_account_id }}
#       storage_path                   = {{ storage_path }}
    }
}
