resource "azurerm_role_definition" "{{ tf_name }}" {
    assignable_scopes              = [{% for i_0 in assignable_scopes %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    description                    = {{ description }}
#   id                             = {{ id }}
    name                           = {{ name }}
#   role_definition_id             = {{ role_definition_id }}
    scope                          = {{ scope }}
    permissions {
        actions                        = [{% for i_1 in actions %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        data_actions                   = [{% for i_1 in data_actions %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        not_actions                    = [{% for i_1 in not_actions %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        not_data_actions               = [{% for i_1 in not_data_actions %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

    }
}
