resource "azurerm_azuread_application" "{{ tf_name }}" {
#   application_id                 = {{ application_id }}
    available_to_other_tenants     = {{ available_to_other_tenants }}
#   homepage                       = {{ homepage }}
#   id                             = {{ id }}
#   identifier_uris                = [{% for i_0 in identifier_uris %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

    name                           = {{ name }}
    oauth2_allow_implicit_flow     = {{ oauth2_allow_implicit_flow }}
#   reply_urls                     = [{% for i_0 in reply_urls %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

}
