resource "azurerm_policy_assignment" "{{ tf_name }}" {
    description                    = {{ description }}
    display_name                   = {{ display_name }}
#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
    not_scopes                     = [{% for i_0 in not_scopes %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    parameters                     = {{ parameters }}
    policy_definition_id           = {{ policy_definition_id }}
    scope                          = {{ scope }}
    identity {
#       principal_id                   = {{ principal_id }}
#       tenant_id                      = {{ tenant_id }}
        type                           = {{ type }}
    }
}
