resource "azurerm_notification_hub_authorization_rule" "{{ tf_name }}" {
#   id                             = {{ id }}
    listen                         = {{ listen }}
    manage                         = {{ manage }}
    name                           = {{ name }}
    namespace_name                 = {{ namespace_name }}
    notification_hub_name          = {{ notification_hub_name }}
#   primary_access_key             = {{ primary_access_key }}
    resource_group_name            = {{ resource_group_name }}
#   secondary_access_key           = {{ secondary_access_key }}
    send                           = {{ send }}
}
