resource "azurerm_lb_probe" "{{ tf_name }}" {
#   id                             = {{ id }}
    interval_in_seconds            = {{ interval_in_seconds }}
#   load_balancer_rules            = [{% for i_0 in load_balancer_rules %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

    loadbalancer_id                = {{ loadbalancer_id }}
    location                       = {{ location }}
    name                           = {{ name }}
    number_of_probes               = {{ number_of_probes }}
    port                           = {{ port }}
#   protocol                       = {{ protocol }}
    request_path                   = {{ request_path }}
    resource_group_name            = {{ resource_group_name }}
}
