resource "azurerm_dev_test_linux_virtual_machine" "{{ tf_name }}" {
    allow_claim                    = {{ allow_claim }}
    disallow_public_ip_address     = {{ disallow_public_ip_address }}
#   fqdn                           = {{ fqdn }}
#   id                             = {{ id }}
    lab_name                       = {{ lab_name }}
    lab_subnet_name                = {{ lab_subnet_name }}
    lab_virtual_network_id         = {{ lab_virtual_network_id }}
    location                       = {{ location }}
    name                           = {{ name }}
    notes                          = {{ notes }}
    password                       = {{ password }}
    resource_group_name            = {{ resource_group_name }}
    size                           = {{ size }}
    ssh_key                        = {{ ssh_key }}
    storage_type                   = {{ storage_type }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

#   unique_identifier              = {{ unique_identifier }}
    username                       = {{ username }}
    gallery_image_reference {
        offer                          = {{ offer }}
        publisher                      = {{ publisher }}
        sku                            = {{ sku }}
        version                        = {{ version }}
    }
    inbound_nat_rule {
        backend_port                   = {{ backend_port }}
#       frontend_port                  = {{ frontend_port }}
        protocol                       = {{ protocol }}
    }
}
