resource "azurerm_virtual_machine_extension" "{{ tf_name }}" {
    auto_upgrade_minor_version     = {{ auto_upgrade_minor_version }}
#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
    protected_settings             = {{ protected_settings }}
    publisher                      = {{ publisher }}
    resource_group_name            = {{ resource_group_name }}
    settings                       = {{ settings }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    type                           = {{ type }}
    type_handler_version           = {{ type_handler_version }}
    virtual_machine_name           = {{ virtual_machine_name }}
}
