resource "azurerm_scheduler_job" "{{ tf_name }}" {
#   id                             = {{ id }}
    job_collection_name            = {{ job_collection_name }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
#   start_time                     = {{ start_time }}
#   state                          = {{ state }}
    action_storage_queue {
        message                        = {{ message }}
        sas_token                      = {{ sas_token }}
        storage_account_name           = {{ storage_account_name }}
        storage_queue_name             = {{ storage_queue_name }}
    }
    action_web {
        body                           = {{ body }}
        headers                        = { {% for k, v in headers.items() %}
                                         {{ k }} = {{ v }}{% endfor %}
                                         }

        method                         = {{ method }}
        url                            = {{ url }}
        authentication_active_directory {
#           audience                       = {{ audience }}
            client_id                      = {{ client_id }}
            secret                         = {{ secret }}
            tenant_id                      = {{ tenant_id }}
        }
        authentication_basic {
            password                       = {{ password }}
            username                       = {{ username }}
        }
        authentication_certificate {
#           expiration                     = {{ expiration }}
            password                       = {{ password }}
            pfx                            = {{ pfx }}
#           subject_name                   = {{ subject_name }}
#           thumbprint                     = {{ thumbprint }}
        }
    }
    error_action_storage_queue {
        message                        = {{ message }}
        sas_token                      = {{ sas_token }}
        storage_account_name           = {{ storage_account_name }}
        storage_queue_name             = {{ storage_queue_name }}
    }
    error_action_web {
        body                           = {{ body }}
        headers                        = { {% for k, v in headers.items() %}
                                         {{ k }} = {{ v }}{% endfor %}
                                         }

        method                         = {{ method }}
        url                            = {{ url }}
        authentication_active_directory {
#           audience                       = {{ audience }}
            client_id                      = {{ client_id }}
            secret                         = {{ secret }}
            tenant_id                      = {{ tenant_id }}
        }
        authentication_basic {
            password                       = {{ password }}
            username                       = {{ username }}
        }
        authentication_certificate {
#           expiration                     = {{ expiration }}
            password                       = {{ password }}
            pfx                            = {{ pfx }}
#           subject_name                   = {{ subject_name }}
#           thumbprint                     = {{ thumbprint }}
        }
    }
    recurrence {
        count                          = {{ count }}
#       end_time                       = {{ end_time }}
        frequency                      = {{ frequency }}
        hours                          = [{% for i_1 in hours %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        interval                       = {{ interval }}
        minutes                        = [{% for i_1 in minutes %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        month_days                     = [{% for i_1 in month_days %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        week_days                      = [{% for i_1 in week_days %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        monthly_occurrences {
            day                            = {{ day }}
            occurrence                     = {{ occurrence }}
        }
    }
    retry {
        count                          = {{ count }}
        interval                       = {{ interval }}
    }
}
