resource "azurerm_storage_blob" "{{ tf_name }}" {
#   access_tier                    = {{ access_tier }}
    attempts                       = {{ attempts }}
    content_type                   = {{ content_type }}
#   id                             = {{ id }}
    metadata                       = { {% for k, v in metadata.items() %}
                                     {{ k }} = {{ v }}{% endfor %}
                                     }

    name                           = {{ name }}
    parallelism                    = {{ parallelism }}
#   resource_group_name            = {{ resource_group_name }}
    size                           = {{ size }}
    source                         = {{ source }}
    source_content                 = {{ source_content }}
    source_uri                     = {{ source_uri }}
    storage_account_name           = {{ storage_account_name }}
    storage_container_name         = {{ storage_container_name }}
    type                           = {{ type }}
#   url                            = {{ url }}
}
