resource "azurerm_signalr_service" "{{ tf_name }}" {
#   hostname                       = {{ hostname }}
#   id                             = {{ id }}
#   ip_address                     = {{ ip_address }}
    location                       = {{ location }}
    name                           = {{ name }}
#   primary_access_key             = {{ primary_access_key }}
#   primary_connection_string      = {{ primary_connection_string }}
#   public_port                    = {{ public_port }}
    resource_group_name            = {{ resource_group_name }}
#   secondary_access_key           = {{ secondary_access_key }}
#   secondary_connection_string    = {{ secondary_connection_string }}
#   server_port                    = {{ server_port }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    sku {
        capacity                       = {{ capacity }}
        name                           = {{ name }}
    }
}
