resource "azurerm_container_registry_webhook" "{{ tf_name }}" {
    actions                        = [{% for i_0 in actions %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    custom_headers                 = { {% for k, v in custom_headers.items() %}
                                     {{ k }} = {{ v }}{% endfor %}
                                     }

#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
    registry_name                  = {{ registry_name }}
    resource_group_name            = {{ resource_group_name }}
    scope                          = {{ scope }}
    service_uri                    = {{ service_uri }}
    status                         = {{ status }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

}
