resource "azurerm_cosmosdb_sql_container" "{{ tf_name }}" {
    account_name                   = {{ account_name }}
    database_name                  = {{ database_name }}
#   id                             = {{ id }}
    name                           = {{ name }}
    partition_key_path             = {{ partition_key_path }}
    resource_group_name            = {{ resource_group_name }}
    unique_key {
        paths                          = [{% for i_1 in paths %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

    }
}
