resource "azurerm_role_assignment" "{{ tf_name }}" {
#   id                             = {{ id }}
#   name                           = {{ name }}
    principal_id                   = {{ principal_id }}
#   principal_type                 = {{ principal_type }}
#   role_definition_id             = {{ role_definition_id }}
#   role_definition_name           = {{ role_definition_name }}
    scope                          = {{ scope }}
    skip_service_principal_aad_check = {{ skip_service_principal_aad_check }}
}
