resource "azurerm_network_interface_application_gateway_backend_address_pool_association" "{{ tf_name }}" {
    backend_address_pool_id        = {{ backend_address_pool_id }}
#   id                             = {{ id }}
    ip_configuration_name          = {{ ip_configuration_name }}
    network_interface_id           = {{ network_interface_id }}
}
