resource "azurerm_redis_firewall_rule" "{{ tf_name }}" {
    end_ip                         = {{ end_ip }}
#   id                             = {{ id }}
    name                           = {{ name }}
    redis_cache_name               = {{ redis_cache_name }}
    resource_group_name            = {{ resource_group_name }}
    start_ip                       = {{ start_ip }}
}
