resource "azurerm_firewall_application_rule_collection" "{{ tf_name }}" {
    action                         = {{ action }}
    azure_firewall_name            = {{ azure_firewall_name }}
#   id                             = {{ id }}
    name                           = {{ name }}
    priority                       = {{ priority }}
    resource_group_name            = {{ resource_group_name }}
    rule {
        description                    = {{ description }}
        fqdn_tags                      = [{% for i_1 in fqdn_tags %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        name                           = {{ name }}
        source_addresses               = [{% for i_1 in source_addresses %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        target_fqdns                   = [{% for i_1 in target_fqdns %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        protocol {
            port                           = {{ port }}
            type                           = {{ type }}
        }
    }
}
