resource "azurerm_stream_analytics_output_blob" "{{ tf_name }}" {
    date_format                    = {{ date_format }}
#   id                             = {{ id }}
    name                           = {{ name }}
    path_pattern                   = {{ path_pattern }}
    resource_group_name            = {{ resource_group_name }}
    storage_account_key            = {{ storage_account_key }}
    storage_account_name           = {{ storage_account_name }}
    storage_container_name         = {{ storage_container_name }}
    stream_analytics_job_name      = {{ stream_analytics_job_name }}
    time_format                    = {{ time_format }}
    serialization {
        encoding                       = {{ encoding }}
        field_delimiter                = {{ field_delimiter }}
        format                         = {{ format }}
        type                           = {{ type }}
    }
}
