resource "azurerm_api_management_api_policy" "{{ tf_name }}" {
    api_management_name            = {{ api_management_name }}
    api_name                       = {{ api_name }}
#   id                             = {{ id }}
    resource_group_name            = {{ resource_group_name }}
#   xml_content                    = {{ xml_content }}
    xml_link                       = {{ xml_link }}
}
