resource "azurerm_stream_analytics_function_javascript_udf" "{{ tf_name }}" {
#   id                             = {{ id }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
    script                         = {{ script }}
    stream_analytics_job_name      = {{ stream_analytics_job_name }}
    input {
        type                           = {{ type }}
    }
    output {
        type                           = {{ type }}
    }
}
