resource "azurerm_app_service_active_slot" "{{ tf_name }}" {
    app_service_name               = {{ app_service_name }}
    app_service_slot_name          = {{ app_service_slot_name }}
#   id                             = {{ id }}
    resource_group_name            = {{ resource_group_name }}
}
