resource "azurerm_express_route_circuit" "{{ tf_name }}" {
    allow_classic_operations       = {{ allow_classic_operations }}
    bandwidth_in_mbps              = {{ bandwidth_in_mbps }}
#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
    peering_location               = {{ peering_location }}
    resource_group_name            = {{ resource_group_name }}
#   service_key                    = {{ service_key }}
    service_provider_name          = {{ service_provider_name }}
#   service_provider_provisioning_state = {{ service_provider_provisioning_state }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    sku {
        family                         = {{ family }}
        tier                           = {{ tier }}
    }
}
