resource "azurerm_storage_share_directory" "{{ tf_name }}" {
#   id                             = {{ id }}
    metadata                       = { {% for k, v in metadata.items() %}
                                     {{ k }} = {{ v }}{% endfor %}
                                     }

    name                           = {{ name }}
    share_name                     = {{ share_name }}
    storage_account_name           = {{ storage_account_name }}
}
