resource "azurerm_data_factory_dataset_sql_server_table" "{{ tf_name }}" {
    additional_properties          = { {% for k, v in additional_properties.items() %}
                                     {{ k }} = {{ v }}{% endfor %}
                                     }

    annotations                    = [{% for i_0 in annotations %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    data_factory_name              = {{ data_factory_name }}
    description                    = {{ description }}
    folder                         = {{ folder }}
#   id                             = {{ id }}
    linked_service_name            = {{ linked_service_name }}
    name                           = {{ name }}
    parameters                     = { {% for k, v in parameters.items() %}
                                     {{ k }} = {{ v }}{% endfor %}
                                     }

    resource_group_name            = {{ resource_group_name }}
    table_name                     = {{ table_name }}
    schema_column {
        description                    = {{ description }}
        name                           = {{ name }}
        type                           = {{ type }}
    }
}
