resource "azurerm_api_management_backend" "{{ tf_name }}" {
    api_management_name            = {{ api_management_name }}
    description                    = {{ description }}
#   id                             = {{ id }}
    name                           = {{ name }}
    protocol                       = {{ protocol }}
    resource_group_name            = {{ resource_group_name }}
    resource_id                    = {{ resource_id }}
    title                          = {{ title }}
    url                            = {{ url }}
    credentials {
        certificate                    = [{% for i_1 in certificate %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        header                         = { {% for k, v in header.items() %}
                                         {{ k }} = {{ v }}{% endfor %}
                                         }

        query                          = { {% for k, v in query.items() %}
                                         {{ k }} = {{ v }}{% endfor %}
                                         }

        authorization {
            parameter                      = {{ parameter }}
            scheme                         = {{ scheme }}
        }
    }
    proxy {
        password                       = {{ password }}
        url                            = {{ url }}
        username                       = {{ username }}
    }
    service_fabric_cluster {
        client_certificate_thumbprint  = {{ client_certificate_thumbprint }}
        management_endpoints           = [{% for i_1 in management_endpoints %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        max_partition_resolution_retries = {{ max_partition_resolution_retries }}
        server_certificate_thumbprints = [{% for i_1 in server_certificate_thumbprints %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        server_x509_name {
            issuer_certificate_thumbprint  = {{ issuer_certificate_thumbprint }}
            name                           = {{ name }}
        }
    }
    tls {
        validate_certificate_chain     = {{ validate_certificate_chain }}
        validate_certificate_name      = {{ validate_certificate_name }}
    }
}
