resource "azurerm_resource_group" "{{ tf_name }}" {
#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

}
