resource "azurerm_sql_database" "{{ tf_name }}" {
#   collation                      = {{ collation }}
    create_mode                    = {{ create_mode }}
#   creation_date                  = {{ creation_date }}
#   default_secondary_location     = {{ default_secondary_location }}
#   edition                        = {{ edition }}
#   elastic_pool_name              = {{ elastic_pool_name }}
#   encryption                     = {{ encryption }}
#   id                             = {{ id }}
    location                       = {{ location }}
#   max_size_bytes                 = {{ max_size_bytes }}
    name                           = {{ name }}
    read_scale                     = {{ read_scale }}
#   requested_service_objective_id = {{ requested_service_objective_id }}
#   requested_service_objective_name = {{ requested_service_objective_name }}
    resource_group_name            = {{ resource_group_name }}
#   restore_point_in_time          = {{ restore_point_in_time }}
    server_name                    = {{ server_name }}
#   source_database_deletion_date  = {{ source_database_deletion_date }}
#   source_database_id             = {{ source_database_id }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    import {
        administrator_login            = {{ administrator_login }}
        administrator_login_password   = {{ administrator_login_password }}
        authentication_type            = {{ authentication_type }}
        operation_mode                 = {{ operation_mode }}
        storage_key                    = {{ storage_key }}
        storage_key_type               = {{ storage_key_type }}
        storage_uri                    = {{ storage_uri }}
    }
    threat_detection_policy {
        disabled_alerts                = [{% for i_1 in disabled_alerts %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        email_account_admins           = {{ email_account_admins }}
        email_addresses                = [{% for i_1 in email_addresses %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        retention_days                 = {{ retention_days }}
        state                          = {{ state }}
        storage_account_access_key     = {{ storage_account_access_key }}
        storage_endpoint               = {{ storage_endpoint }}
        use_server_default             = {{ use_server_default }}
    }
}
