resource "azurerm_virtual_network_peering" "{{ tf_name }}" {
#   allow_forwarded_traffic        = {{ allow_forwarded_traffic }}
#   allow_gateway_transit          = {{ allow_gateway_transit }}
#   allow_virtual_network_access   = {{ allow_virtual_network_access }}
#   id                             = {{ id }}
    name                           = {{ name }}
    remote_virtual_network_id      = {{ remote_virtual_network_id }}
    resource_group_name            = {{ resource_group_name }}
#   use_remote_gateways            = {{ use_remote_gateways }}
    virtual_network_name           = {{ virtual_network_name }}
}
