resource "azurerm_mssql_elasticpool" "{{ tf_name }}" {
#   elastic_pool_properties        = [{% for i_0 in elastic_pool_properties %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

#   id                             = {{ id }}
    location                       = {{ location }}
#   max_size_bytes                 = {{ max_size_bytes }}
#   max_size_gb                    = {{ max_size_gb }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
    server_name                    = {{ server_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    zone_redundant                 = {{ zone_redundant }}
    per_database_settings {
        max_capacity                   = {{ max_capacity }}
        min_capacity                   = {{ min_capacity }}
    }
    sku {
        capacity                       = {{ capacity }}
        family                         = {{ family }}
        name                           = {{ name }}
        tier                           = {{ tier }}
    }
}
