resource "azurerm_dns_srv_record" "{{ tf_name }}" {
#   id                             = {{ id }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    ttl                            = {{ ttl }}
    zone_name                      = {{ zone_name }}
    record {
        port                           = {{ port }}
        priority                       = {{ priority }}
        target                         = {{ target }}
        weight                         = {{ weight }}
    }
}
