resource "azurerm_relay_namespace" "{{ tf_name }}" {
#   id                             = {{ id }}
    location                       = {{ location }}
#   metric_id                      = {{ metric_id }}
    name                           = {{ name }}
#   primary_connection_string      = {{ primary_connection_string }}
#   primary_key                    = {{ primary_key }}
    resource_group_name            = {{ resource_group_name }}
#   secondary_connection_string    = {{ secondary_connection_string }}
#   secondary_key                  = {{ secondary_key }}
#   sku_name                       = {{ sku_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    sku {
        name                           = {{ name }}
    }
}
