resource "azurerm_automation_runbook" "{{ tf_name }}" {
    account_name                   = {{ account_name }}
#   content                        = {{ content }}
    description                    = {{ description }}
#   id                             = {{ id }}
    location                       = {{ location }}
    log_progress                   = {{ log_progress }}
    log_verbose                    = {{ log_verbose }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
    runbook_type                   = {{ runbook_type }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    publish_content_link {
        uri                            = {{ uri }}
        version                        = {{ version }}
        hash {
            algorithm                      = {{ algorithm }}
            value                          = {{ value }}
        }
    }
}
