resource "azurerm_azuread_service_principal_password" "{{ tf_name }}" {
    end_date                       = {{ end_date }}
#   id                             = {{ id }}
#   key_id                         = {{ key_id }}
    service_principal_id           = {{ service_principal_id }}
#   start_date                     = {{ start_date }}
    value                          = {{ value }}
}
