resource "azurerm_application_insights_api_key" "{{ tf_name }}" {
#   api_key                        = {{ api_key }}
    application_insights_id        = {{ application_insights_id }}
#   id                             = {{ id }}
    name                           = {{ name }}
    read_permissions               = [{% for i_0 in read_permissions %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    write_permissions              = [{% for i_0 in write_permissions %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

}
