resource "azurerm_api_management_group_user" "{{ tf_name }}" {
    api_management_name            = {{ api_management_name }}
    group_name                     = {{ group_name }}
#   id                             = {{ id }}
    resource_group_name            = {{ resource_group_name }}
    user_id                        = {{ user_id }}
}
