resource "azurerm_logic_app_trigger_http_request" "{{ tf_name }}" {
#   id                             = {{ id }}
    logic_app_id                   = {{ logic_app_id }}
    method                         = {{ method }}
    name                           = {{ name }}
    relative_path                  = {{ relative_path }}
    schema                         = {{ schema }}
}
