resource "azurerm_dev_test_virtual_network" "{{ tf_name }}" {
    description                    = {{ description }}
#   id                             = {{ id }}
    lab_name                       = {{ lab_name }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

#   unique_identifier              = {{ unique_identifier }}
    subnet {
#       name                           = {{ name }}
        use_in_virtual_machine_creation = {{ use_in_virtual_machine_creation }}
        use_public_ip_address          = {{ use_public_ip_address }}
    }
}
