resource "azurerm_public_ip" "{{ tf_name }}" {
#   allocation_method              = {{ allocation_method }}
    domain_name_label              = {{ domain_name_label }}
#   fqdn                           = {{ fqdn }}
#   id                             = {{ id }}
    idle_timeout_in_minutes        = {{ idle_timeout_in_minutes }}
#   ip_address                     = {{ ip_address }}
    ip_version                     = {{ ip_version }}
    location                       = {{ location }}
    name                           = {{ name }}
#   public_ip_address_allocation   = {{ public_ip_address_allocation }}
    public_ip_prefix_id            = {{ public_ip_prefix_id }}
    resource_group_name            = {{ resource_group_name }}
    reverse_fqdn                   = {{ reverse_fqdn }}
    sku                            = {{ sku }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    zones                          = [{% for i_0 in zones %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

}
