resource "azurerm_iot_dps" "{{ tf_name }}" {
#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    linked_hub {
        allocation_weight              = {{ allocation_weight }}
        apply_allocation_policy        = {{ apply_allocation_policy }}
        connection_string              = {{ connection_string }}
#       hostname                       = {{ hostname }}
        location                       = {{ location }}
    }
    sku {
        capacity                       = {{ capacity }}
        name                           = {{ name }}
        tier                           = {{ tier }}
    }
}
