resource "azurerm_shared_image" "{{ tf_name }}" {
    description                    = {{ description }}
    eula                           = {{ eula }}
    gallery_name                   = {{ gallery_name }}
#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
    os_type                        = {{ os_type }}
    privacy_statement_uri          = {{ privacy_statement_uri }}
    release_note_uri               = {{ release_note_uri }}
    resource_group_name            = {{ resource_group_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    identifier {
        offer                          = {{ offer }}
        publisher                      = {{ publisher }}
        sku                            = {{ sku }}
    }
}
