resource "azurerm_container_registry" "{{ tf_name }}" {
    admin_enabled                  = {{ admin_enabled }}
#   admin_password                 = {{ admin_password }}
#   admin_username                 = {{ admin_username }}
    georeplication_locations       = [{% for i_0 in georeplication_locations %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

#   id                             = {{ id }}
    location                       = {{ location }}
#   login_server                   = {{ login_server }}
    name                           = {{ name }}
#   network_rule_set               = [{% for i_0 in network_rule_set %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

    resource_group_name            = {{ resource_group_name }}
    sku                            = {{ sku }}
    storage_account_id             = {{ storage_account_id }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    storage_account {
        access_key                     = {{ access_key }}
        name                           = {{ name }}
    }
}
