resource "azurerm_monitor_metric_alertrule" "{{ tf_name }}" {
    aggregation                    = {{ aggregation }}
#   description                    = {{ description }}
    enabled                        = {{ enabled }}
#   id                             = {{ id }}
    location                       = {{ location }}
    metric_name                    = {{ metric_name }}
    name                           = {{ name }}
    operator                       = {{ operator }}
    period                         = {{ period }}
    resource_group_name            = {{ resource_group_name }}
    resource_id                    = {{ resource_id }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    threshold                      = {{ threshold }}
    email_action {
#       custom_emails                  = [{% for i_1 in custom_emails %}
#                                        {{ i_1 }}{% if not loop.last %},{% endif %}
#                                        {% endfor %}]

#       send_to_service_owners         = {{ send_to_service_owners }}
    }
    webhook_action {
#       properties                     = { {% for k, v in properties.items() %}
#                                        {{ k }} = {{ v }}{% endfor %}
#                                        }

        service_uri                    = {{ service_uri }}
    }
}
