resource "azurerm_api_management_openid_connect_provider" "{{ tf_name }}" {
    api_management_name            = {{ api_management_name }}
    client_id                      = {{ client_id }}
    client_secret                  = {{ client_secret }}
    description                    = {{ description }}
    display_name                   = {{ display_name }}
#   id                             = {{ id }}
    metadata_endpoint              = {{ metadata_endpoint }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
}
