resource "azurerm_automation_credential" "{{ tf_name }}" {
    account_name                   = {{ account_name }}
    description                    = {{ description }}
#   id                             = {{ id }}
    name                           = {{ name }}
    password                       = {{ password }}
    resource_group_name            = {{ resource_group_name }}
    username                       = {{ username }}
}
