resource "azurerm_express_route_circuit_peering" "{{ tf_name }}" {
#   azure_asn                      = {{ azure_asn }}
    express_route_circuit_name     = {{ express_route_circuit_name }}
#   id                             = {{ id }}
#   peer_asn                       = {{ peer_asn }}
    peering_type                   = {{ peering_type }}
#   primary_azure_port             = {{ primary_azure_port }}
    primary_peer_address_prefix    = {{ primary_peer_address_prefix }}
    resource_group_name            = {{ resource_group_name }}
#   secondary_azure_port           = {{ secondary_azure_port }}
    secondary_peer_address_prefix  = {{ secondary_peer_address_prefix }}
    shared_key                     = {{ shared_key }}
    vlan_id                        = {{ vlan_id }}
    microsoft_peering_config {
        advertised_public_prefixes     = [{% for i_1 in advertised_public_prefixes %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

    }
}
