resource "azurerm_kusto_cluster" "{{ tf_name }}" {
#   data_ingestion_uri             = {{ data_ingestion_uri }}
#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

#   uri                            = {{ uri }}
    sku {
        capacity                       = {{ capacity }}
        name                           = {{ name }}
    }
}
