resource "azurerm_redis_cache" "{{ tf_name }}" {
    capacity                       = {{ capacity }}
    enable_non_ssl_port            = {{ enable_non_ssl_port }}
    family                         = {{ family }}
#   hostname                       = {{ hostname }}
#   id                             = {{ id }}
    location                       = {{ location }}
    minimum_tls_version            = {{ minimum_tls_version }}
    name                           = {{ name }}
#   port                           = {{ port }}
#   primary_access_key             = {{ primary_access_key }}
#   private_static_ip_address      = {{ private_static_ip_address }}
    resource_group_name            = {{ resource_group_name }}
#   secondary_access_key           = {{ secondary_access_key }}
    shard_count                    = {{ shard_count }}
    sku_name                       = {{ sku_name }}
#   ssl_port                       = {{ ssl_port }}
    subnet_id                      = {{ subnet_id }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    zones                          = [{% for i_0 in zones %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    patch_schedule {
        day_of_week                    = {{ day_of_week }}
        start_hour_utc                 = {{ start_hour_utc }}
    }
    redis_configuration {
        aof_backup_enabled             = {{ aof_backup_enabled }}
        aof_storage_connection_string_0 = {{ aof_storage_connection_string_0 }}
        aof_storage_connection_string_1 = {{ aof_storage_connection_string_1 }}
        enable_authentication          = {{ enable_authentication }}
#       maxclients                     = {{ maxclients }}
#       maxfragmentationmemory_reserved = {{ maxfragmentationmemory_reserved }}
#       maxmemory_delta                = {{ maxmemory_delta }}
        maxmemory_policy               = {{ maxmemory_policy }}
#       maxmemory_reserved             = {{ maxmemory_reserved }}
        notify_keyspace_events         = {{ notify_keyspace_events }}
        rdb_backup_enabled             = {{ rdb_backup_enabled }}
        rdb_backup_frequency           = {{ rdb_backup_frequency }}
        rdb_backup_max_snapshot_count  = {{ rdb_backup_max_snapshot_count }}
        rdb_storage_connection_string  = {{ rdb_storage_connection_string }}
    }
}
