resource "azurerm_scheduler_job_collection" "{{ tf_name }}" {
#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
    sku                            = {{ sku }}
    state                          = {{ state }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    quota {
        max_job_count                  = {{ max_job_count }}
        max_recurrence_frequency       = {{ max_recurrence_frequency }}
        max_recurrence_interval        = {{ max_recurrence_interval }}
#       max_retry_interval             = {{ max_retry_interval }}
    }
}
