resource "azurerm_devspace_controller" "{{ tf_name }}" {
#   data_plane_fqdn                = {{ data_plane_fqdn }}
    host_suffix                    = {{ host_suffix }}
#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    target_container_host_credentials_base64 = {{ target_container_host_credentials_base64 }}
    target_container_host_resource_id = {{ target_container_host_resource_id }}
    sku {
        name                           = {{ name }}
        tier                           = {{ tier }}
    }
}
