resource "azurerm_recovery_services_protection_policy_vm" "{{ tf_name }}" {
#   id                             = {{ id }}
    name                           = {{ name }}
    recovery_vault_name            = {{ recovery_vault_name }}
    resource_group_name            = {{ resource_group_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    timezone                       = {{ timezone }}
    backup {
        frequency                      = {{ frequency }}
        time                           = {{ time }}
        weekdays                       = [{% for i_1 in weekdays %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

    }
    retention_daily {
        count                          = {{ count }}
    }
    retention_monthly {
        count                          = {{ count }}
        weekdays                       = [{% for i_1 in weekdays %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        weeks                          = [{% for i_1 in weeks %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

    }
    retention_weekly {
        count                          = {{ count }}
        weekdays                       = [{% for i_1 in weekdays %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

    }
    retention_yearly {
        count                          = {{ count }}
        months                         = [{% for i_1 in months %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        weekdays                       = [{% for i_1 in weekdays %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        weeks                          = [{% for i_1 in weeks %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

    }
}
