resource "azurerm_automation_account" "{{ tf_name }}" {
#   dsc_primary_access_key         = {{ dsc_primary_access_key }}
#   dsc_secondary_access_key       = {{ dsc_secondary_access_key }}
#   dsc_server_endpoint            = {{ dsc_server_endpoint }}
#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
#   sku_name                       = {{ sku_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    sku {
        name                           = {{ name }}
    }
}
