resource "azurerm_api_management_api_schema" "{{ tf_name }}" {
    api_management_name            = {{ api_management_name }}
    api_name                       = {{ api_name }}
    content_type                   = {{ content_type }}
#   id                             = {{ id }}
    resource_group_name            = {{ resource_group_name }}
    schema_id                      = {{ schema_id }}
    value                          = {{ value }}
}
