resource "azurerm_application_insights" "{{ tf_name }}" {
#   app_id                         = {{ app_id }}
    application_type               = {{ application_type }}
#   id                             = {{ id }}
#   instrumentation_key            = {{ instrumentation_key }}
    location                       = {{ location }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

}
