resource "azurerm_bot_connection" "{{ tf_name }}" {
    bot_name                       = {{ bot_name }}
    client_id                      = {{ client_id }}
    client_secret                  = {{ client_secret }}
#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
    parameters                     = { {% for k, v in parameters.items() %}
                                     {{ k }} = {{ v }}{% endfor %}
                                     }

    resource_group_name            = {{ resource_group_name }}
    scopes                         = {{ scopes }}
    service_provider_name          = {{ service_provider_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

}
