resource "azurerm_application_gateway" "{{ tf_name }}" {
#   disabled_ssl_protocols         = [{% for i_0 in disabled_ssl_protocols %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

    enable_http2                   = {{ enable_http2 }}
#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    zones                          = [{% for i_0 in zones %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    authentication_certificate {
        data                           = {{ data }}
#       id                             = {{ id }}
        name                           = {{ name }}
    }
    autoscale_configuration {
        max_capacity                   = {{ max_capacity }}
        min_capacity                   = {{ min_capacity }}
    }
    backend_address_pool {
#       fqdn_list                      = [{% for i_1 in fqdn_list %}
#                                        {{ i_1 }}{% if not loop.last %},{% endif %}
#                                        {% endfor %}]

#       fqdns                          = [{% for i_1 in fqdns %}
#                                        {{ i_1 }}{% if not loop.last %},{% endif %}
#                                        {% endfor %}]

#       id                             = {{ id }}
#       ip_address_list                = [{% for i_1 in ip_address_list %}
#                                        {{ i_1 }}{% if not loop.last %},{% endif %}
#                                        {% endfor %}]

#       ip_addresses                   = [{% for i_1 in ip_addresses %}
#                                        {{ i_1 }}{% if not loop.last %},{% endif %}
#                                        {% endfor %}]

        name                           = {{ name }}
    }
    backend_http_settings {
        affinity_cookie_name           = {{ affinity_cookie_name }}
        cookie_based_affinity          = {{ cookie_based_affinity }}
        host_name                      = {{ host_name }}
#       id                             = {{ id }}
        name                           = {{ name }}
        path                           = {{ path }}
        pick_host_name_from_backend_address = {{ pick_host_name_from_backend_address }}
        port                           = {{ port }}
#       probe_id                       = {{ probe_id }}
        probe_name                     = {{ probe_name }}
        protocol                       = {{ protocol }}
        request_timeout                = {{ request_timeout }}
        authentication_certificate {
#           id                             = {{ id }}
            name                           = {{ name }}
        }
        connection_draining {
            drain_timeout_sec              = {{ drain_timeout_sec }}
            enabled                        = {{ enabled }}
        }
    }
    custom_error_configuration {
        custom_error_page_url          = {{ custom_error_page_url }}
#       id                             = {{ id }}
        status_code                    = {{ status_code }}
    }
    frontend_ip_configuration {
#       id                             = {{ id }}
        name                           = {{ name }}
#       private_ip_address             = {{ private_ip_address }}
#       private_ip_address_allocation  = {{ private_ip_address_allocation }}
#       public_ip_address_id           = {{ public_ip_address_id }}
#       subnet_id                      = {{ subnet_id }}
    }
    frontend_port {
#       id                             = {{ id }}
        name                           = {{ name }}
        port                           = {{ port }}
    }
    gateway_ip_configuration {
#       id                             = {{ id }}
        name                           = {{ name }}
        subnet_id                      = {{ subnet_id }}
    }
    http_listener {
#       frontend_ip_configuration_id   = {{ frontend_ip_configuration_id }}
        frontend_ip_configuration_name = {{ frontend_ip_configuration_name }}
#       frontend_port_id               = {{ frontend_port_id }}
        frontend_port_name             = {{ frontend_port_name }}
        host_name                      = {{ host_name }}
#       id                             = {{ id }}
        name                           = {{ name }}
        protocol                       = {{ protocol }}
        require_sni                    = {{ require_sni }}
#       ssl_certificate_id             = {{ ssl_certificate_id }}
        ssl_certificate_name           = {{ ssl_certificate_name }}
        custom_error_configuration {
            custom_error_page_url          = {{ custom_error_page_url }}
#           id                             = {{ id }}
            status_code                    = {{ status_code }}
        }
    }
    identity {
        identity_ids                   = [{% for i_1 in identity_ids %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        type                           = {{ type }}
    }
    probe {
        host                           = {{ host }}
#       id                             = {{ id }}
        interval                       = {{ interval }}
        minimum_servers                = {{ minimum_servers }}
        name                           = {{ name }}
        path                           = {{ path }}
        pick_host_name_from_backend_http_settings = {{ pick_host_name_from_backend_http_settings }}
        protocol                       = {{ protocol }}
        timeout                        = {{ timeout }}
        unhealthy_threshold            = {{ unhealthy_threshold }}
        match {
            body                           = {{ body }}
            status_code                    = [{% for i_2 in status_code %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

        }
    }
    redirect_configuration {
#       id                             = {{ id }}
        include_path                   = {{ include_path }}
        include_query_string           = {{ include_query_string }}
        name                           = {{ name }}
        redirect_type                  = {{ redirect_type }}
#       target_listener_id             = {{ target_listener_id }}
        target_listener_name           = {{ target_listener_name }}
        target_url                     = {{ target_url }}
    }
    request_routing_rule {
#       backend_address_pool_id        = {{ backend_address_pool_id }}
        backend_address_pool_name      = {{ backend_address_pool_name }}
#       backend_http_settings_id       = {{ backend_http_settings_id }}
        backend_http_settings_name     = {{ backend_http_settings_name }}
#       http_listener_id               = {{ http_listener_id }}
        http_listener_name             = {{ http_listener_name }}
#       id                             = {{ id }}
        name                           = {{ name }}
#       redirect_configuration_id      = {{ redirect_configuration_id }}
        redirect_configuration_name    = {{ redirect_configuration_name }}
#       rewrite_rule_set_id            = {{ rewrite_rule_set_id }}
        rewrite_rule_set_name          = {{ rewrite_rule_set_name }}
        rule_type                      = {{ rule_type }}
#       url_path_map_id                = {{ url_path_map_id }}
        url_path_map_name              = {{ url_path_map_name }}
    }
    rewrite_rule_set {
#       id                             = {{ id }}
        name                           = {{ name }}
        rewrite_rule {
            name                           = {{ name }}
            rule_sequence                  = {{ rule_sequence }}
            condition {
                ignore_case                    = {{ ignore_case }}
                negate                         = {{ negate }}
                pattern                        = {{ pattern }}
                variable                       = {{ variable }}
            }
            request_header_configuration {
                header_name                    = {{ header_name }}
                header_value                   = {{ header_value }}
            }
            response_header_configuration {
                header_name                    = {{ header_name }}
                header_value                   = {{ header_value }}
            }
        }
    }
    sku {
        capacity                       = {{ capacity }}
        name                           = {{ name }}
        tier                           = {{ tier }}
    }
    ssl_certificate {
        data                           = {{ data }}
#       id                             = {{ id }}
        name                           = {{ name }}
        password                       = {{ password }}
#       public_cert_data               = {{ public_cert_data }}
    }
    ssl_policy {
        cipher_suites                  = [{% for i_1 in cipher_suites %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

#       disabled_protocols             = [{% for i_1 in disabled_protocols %}
#                                        {{ i_1 }}{% if not loop.last %},{% endif %}
#                                        {% endfor %}]

        min_protocol_version           = {{ min_protocol_version }}
        policy_name                    = {{ policy_name }}
        policy_type                    = {{ policy_type }}
    }
    trusted_root_certificate {
        data                           = {{ data }}
#       id                             = {{ id }}
        name                           = {{ name }}
    }
    url_path_map {
#       default_backend_address_pool_id = {{ default_backend_address_pool_id }}
        default_backend_address_pool_name = {{ default_backend_address_pool_name }}
#       default_backend_http_settings_id = {{ default_backend_http_settings_id }}
        default_backend_http_settings_name = {{ default_backend_http_settings_name }}
#       default_redirect_configuration_id = {{ default_redirect_configuration_id }}
        default_redirect_configuration_name = {{ default_redirect_configuration_name }}
#       default_rewrite_rule_set_id    = {{ default_rewrite_rule_set_id }}
        default_rewrite_rule_set_name  = {{ default_rewrite_rule_set_name }}
#       id                             = {{ id }}
        name                           = {{ name }}
        path_rule {
#           backend_address_pool_id        = {{ backend_address_pool_id }}
            backend_address_pool_name      = {{ backend_address_pool_name }}
#           backend_http_settings_id       = {{ backend_http_settings_id }}
            backend_http_settings_name     = {{ backend_http_settings_name }}
#           id                             = {{ id }}
            name                           = {{ name }}
            paths                          = [{% for i_2 in paths %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

#           redirect_configuration_id      = {{ redirect_configuration_id }}
            redirect_configuration_name    = {{ redirect_configuration_name }}
#           rewrite_rule_set_id            = {{ rewrite_rule_set_id }}
            rewrite_rule_set_name          = {{ rewrite_rule_set_name }}
        }
    }
    waf_configuration {
        enabled                        = {{ enabled }}
        file_upload_limit_mb           = {{ file_upload_limit_mb }}
        firewall_mode                  = {{ firewall_mode }}
        max_request_body_size_kb       = {{ max_request_body_size_kb }}
        request_body_check             = {{ request_body_check }}
        rule_set_type                  = {{ rule_set_type }}
        rule_set_version               = {{ rule_set_version }}
        disabled_rule_group {
            rule_group_name                = {{ rule_group_name }}
            rules                          = [{% for i_2 in rules %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

        }
        exclusion {
            match_variable                 = {{ match_variable }}
            selector                       = {{ selector }}
            selector_match_operator        = {{ selector_match_operator }}
        }
    }
}
