resource "azurerm_monitor_metric_alert" "{{ tf_name }}" {
    auto_mitigate                  = {{ auto_mitigate }}
    description                    = {{ description }}
    enabled                        = {{ enabled }}
    frequency                      = {{ frequency }}
#   id                             = {{ id }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
    scopes                         = [{% for i_0 in scopes %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    severity                       = {{ severity }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    window_size                    = {{ window_size }}
    action {
        action_group_id                = {{ action_group_id }}
        webhook_properties             = { {% for k, v in webhook_properties.items() %}
                                         {{ k }} = {{ v }}{% endfor %}
                                         }

    }
    criteria {
        aggregation                    = {{ aggregation }}
        metric_name                    = {{ metric_name }}
        metric_namespace               = {{ metric_namespace }}
        operator                       = {{ operator }}
        threshold                      = {{ threshold }}
        dimension {
            name                           = {{ name }}
            operator                       = {{ operator }}
            values                         = [{% for i_2 in values %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

        }
    }
}
