resource "azurerm_cosmosdb_mongo_collection" "{{ tf_name }}" {
    account_name                   = {{ account_name }}
    database_name                  = {{ database_name }}
    default_ttl_seconds            = {{ default_ttl_seconds }}
#   id                             = {{ id }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
    shard_key                      = {{ shard_key }}
    indexes {
        key                            = {{ key }}
        unique                         = {{ unique }}
    }
}
