resource "azurerm_eventhub_namespace_authorization_rule" "{{ tf_name }}" {
#   id                             = {{ id }}
    listen                         = {{ listen }}
    location                       = {{ location }}
    manage                         = {{ manage }}
    name                           = {{ name }}
    namespace_name                 = {{ namespace_name }}
#   primary_connection_string      = {{ primary_connection_string }}
#   primary_key                    = {{ primary_key }}
    resource_group_name            = {{ resource_group_name }}
#   secondary_connection_string    = {{ secondary_connection_string }}
#   secondary_key                  = {{ secondary_key }}
    send                           = {{ send }}
}
