resource "azurerm_subnet" "{{ tf_name }}" {
    address_prefix                 = {{ address_prefix }}
#   id                             = {{ id }}
#   ip_configurations              = [{% for i_0 in ip_configurations %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

    name                           = {{ name }}
    network_security_group_id      = {{ network_security_group_id }}
    resource_group_name            = {{ resource_group_name }}
    route_table_id                 = {{ route_table_id }}
    service_endpoints              = [{% for i_0 in service_endpoints %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    virtual_network_name           = {{ virtual_network_name }}
    delegation {
        name                           = {{ name }}
        service_delegation {
            actions                        = [{% for i_2 in actions %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

            name                           = {{ name }}
        }
    }
}
