resource "azurerm_monitor_diagnostic_setting" "{{ tf_name }}" {
    eventhub_authorization_rule_id = {{ eventhub_authorization_rule_id }}
    eventhub_name                  = {{ eventhub_name }}
#   id                             = {{ id }}
    log_analytics_destination_type = {{ log_analytics_destination_type }}
    log_analytics_workspace_id     = {{ log_analytics_workspace_id }}
    name                           = {{ name }}
    storage_account_id             = {{ storage_account_id }}
    target_resource_id             = {{ target_resource_id }}
    log {
        category                       = {{ category }}
        enabled                        = {{ enabled }}
        retention_policy {
            days                           = {{ days }}
            enabled                        = {{ enabled }}
        }
    }
    metric {
        category                       = {{ category }}
        enabled                        = {{ enabled }}
        retention_policy {
            days                           = {{ days }}
            enabled                        = {{ enabled }}
        }
    }
}
