resource "azurerm_recovery_services_protected_vm" "{{ tf_name }}" {
    backup_policy_id               = {{ backup_policy_id }}
#   id                             = {{ id }}
    recovery_vault_name            = {{ recovery_vault_name }}
    resource_group_name            = {{ resource_group_name }}
    source_vm_id                   = {{ source_vm_id }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

}
