resource "azurerm_api_management_api_operation" "{{ tf_name }}" {
    api_management_name            = {{ api_management_name }}
    api_name                       = {{ api_name }}
    description                    = {{ description }}
    display_name                   = {{ display_name }}
#   id                             = {{ id }}
    method                         = {{ method }}
    operation_id                   = {{ operation_id }}
    resource_group_name            = {{ resource_group_name }}
    url_template                   = {{ url_template }}
    request {
        description                    = {{ description }}
        header {
            default_value                  = {{ default_value }}
            description                    = {{ description }}
            name                           = {{ name }}
            required                       = {{ required }}
            type                           = {{ type }}
            values                         = [{% for i_2 in values %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

        }
        query_parameter {
            default_value                  = {{ default_value }}
            description                    = {{ description }}
            name                           = {{ name }}
            required                       = {{ required }}
            type                           = {{ type }}
            values                         = [{% for i_2 in values %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

        }
        representation {
            content_type                   = {{ content_type }}
            sample                         = {{ sample }}
            schema_id                      = {{ schema_id }}
            type_name                      = {{ type_name }}
            form_parameter {
                default_value                  = {{ default_value }}
                description                    = {{ description }}
                name                           = {{ name }}
                required                       = {{ required }}
                type                           = {{ type }}
                values                         = [{% for i_3 in values %}
                                                 {{ i_3 }}{% if not loop.last %},{% endif %}
                                                 {% endfor %}]

            }
        }
    }
    response {
        description                    = {{ description }}
        status_code                    = {{ status_code }}
        header {
            default_value                  = {{ default_value }}
            description                    = {{ description }}
            name                           = {{ name }}
            required                       = {{ required }}
            type                           = {{ type }}
            values                         = [{% for i_2 in values %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

        }
        representation {
            content_type                   = {{ content_type }}
            sample                         = {{ sample }}
            schema_id                      = {{ schema_id }}
            type_name                      = {{ type_name }}
            form_parameter {
                default_value                  = {{ default_value }}
                description                    = {{ description }}
                name                           = {{ name }}
                required                       = {{ required }}
                type                           = {{ type }}
                values                         = [{% for i_3 in values %}
                                                 {{ i_3 }}{% if not loop.last %},{% endif %}
                                                 {% endfor %}]

            }
        }
    }
    template_parameter {
        default_value                  = {{ default_value }}
        description                    = {{ description }}
        name                           = {{ name }}
        required                       = {{ required }}
        type                           = {{ type }}
        values                         = [{% for i_1 in values %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

    }
}
