resource "azurerm_automation_schedule" "{{ tf_name }}" {
#   account_name                   = {{ account_name }}
#   automation_account_name        = {{ automation_account_name }}
    description                    = {{ description }}
#   expiry_time                    = {{ expiry_time }}
    frequency                      = {{ frequency }}
#   id                             = {{ id }}
#   interval                       = {{ interval }}
    month_days                     = [{% for i_0 in month_days %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
#   start_time                     = {{ start_time }}
    timezone                       = {{ timezone }}
    week_days                      = [{% for i_0 in week_days %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    monthly_occurrence {
        day                            = {{ day }}
        occurrence                     = {{ occurrence }}
    }
}
