resource "azurerm_notification_hub" "{{ tf_name }}" {
#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
    namespace_name                 = {{ namespace_name }}
    resource_group_name            = {{ resource_group_name }}
    apns_credential {
        application_mode               = {{ application_mode }}
        bundle_id                      = {{ bundle_id }}
        key_id                         = {{ key_id }}
        team_id                        = {{ team_id }}
        token                          = {{ token }}
    }
    gcm_credential {
        api_key                        = {{ api_key }}
    }
}
