resource "azurerm_automation_module" "{{ tf_name }}" {
    automation_account_name        = {{ automation_account_name }}
#   id                             = {{ id }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
    module_link {
        uri                            = {{ uri }}
        hash {
            algorithm                      = {{ algorithm }}
            value                          = {{ value }}
        }
    }
}
