resource "azurerm_logic_app_trigger_recurrence" "{{ tf_name }}" {
    frequency                      = {{ frequency }}
#   id                             = {{ id }}
    interval                       = {{ interval }}
    logic_app_id                   = {{ logic_app_id }}
    name                           = {{ name }}
}
