resource "azurerm_data_factory_linked_service_mysql" "{{ tf_name }}" {
    additional_properties          = { {% for k, v in additional_properties.items() %}
                                     {{ k }} = {{ v }}{% endfor %}
                                     }

    annotations                    = [{% for i_0 in annotations %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    connection_string              = {{ connection_string }}
    data_factory_name              = {{ data_factory_name }}
    description                    = {{ description }}
#   id                             = {{ id }}
    integration_runtime_name       = {{ integration_runtime_name }}
    name                           = {{ name }}
    parameters                     = { {% for k, v in parameters.items() %}
                                     {{ k }} = {{ v }}{% endfor %}
                                     }

    resource_group_name            = {{ resource_group_name }}
}
