resource "azurerm_monitor_activity_log_alert" "{{ tf_name }}" {
    description                    = {{ description }}
    enabled                        = {{ enabled }}
#   id                             = {{ id }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
    scopes                         = [{% for i_0 in scopes %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    action {
        action_group_id                = {{ action_group_id }}
        webhook_properties             = { {% for k, v in webhook_properties.items() %}
                                         {{ k }} = {{ v }}{% endfor %}
                                         }

    }
    criteria {
        caller                         = {{ caller }}
        category                       = {{ category }}
        level                          = {{ level }}
        operation_name                 = {{ operation_name }}
        resource_group                 = {{ resource_group }}
        resource_id                    = {{ resource_id }}
        resource_provider              = {{ resource_provider }}
        resource_type                  = {{ resource_type }}
        status                         = {{ status }}
        sub_status                     = {{ sub_status }}
    }
}
