resource "azurerm_servicebus_topic" "{{ tf_name }}" {
#   auto_delete_on_idle            = {{ auto_delete_on_idle }}
#   default_message_ttl            = {{ default_message_ttl }}
#   duplicate_detection_history_time_window = {{ duplicate_detection_history_time_window }}
    enable_batched_operations      = {{ enable_batched_operations }}
    enable_express                 = {{ enable_express }}
    enable_filtering_messages_before_publishing = {{ enable_filtering_messages_before_publishing }}
    enable_partitioning            = {{ enable_partitioning }}
#   id                             = {{ id }}
    location                       = {{ location }}
#   max_size_in_megabytes          = {{ max_size_in_megabytes }}
    name                           = {{ name }}
    namespace_name                 = {{ namespace_name }}
    requires_duplicate_detection   = {{ requires_duplicate_detection }}
    resource_group_name            = {{ resource_group_name }}
    status                         = {{ status }}
    support_ordering               = {{ support_ordering }}
}
