resource "azurerm_subnet_route_table_association" "{{ tf_name }}" {
#   id                             = {{ id }}
    route_table_id                 = {{ route_table_id }}
    subnet_id                      = {{ subnet_id }}
}
