resource "azurerm_eventhub_namespace" "{{ tf_name }}" {
    auto_inflate_enabled           = {{ auto_inflate_enabled }}
    capacity                       = {{ capacity }}
#   default_primary_connection_string = {{ default_primary_connection_string }}
#   default_primary_key            = {{ default_primary_key }}
#   default_secondary_connection_string = {{ default_secondary_connection_string }}
#   default_secondary_key          = {{ default_secondary_key }}
#   id                             = {{ id }}
    kafka_enabled                  = {{ kafka_enabled }}
    location                       = {{ location }}
#   maximum_throughput_units       = {{ maximum_throughput_units }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
    sku                            = {{ sku }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

}
