resource "azurerm_management_lock" "{{ tf_name }}" {
#   id                             = {{ id }}
    lock_level                     = {{ lock_level }}
    name                           = {{ name }}
    notes                          = {{ notes }}
    scope                          = {{ scope }}
}
