resource "azurerm_security_center_contact" "{{ tf_name }}" {
    alert_notifications            = {{ alert_notifications }}
    alerts_to_admins               = {{ alerts_to_admins }}
    email                          = {{ email }}
#   id                             = {{ id }}
    phone                          = {{ phone }}
}
