resource "azurerm_container_service" "{{ tf_name }}" {
#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
    orchestration_platform         = {{ orchestration_platform }}
    resource_group_name            = {{ resource_group_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    agent_pool_profile {
        count                          = {{ count }}
        dns_prefix                     = {{ dns_prefix }}
#       fqdn                           = {{ fqdn }}
        name                           = {{ name }}
        vm_size                        = {{ vm_size }}
    }
    diagnostics_profile {
        enabled                        = {{ enabled }}
#       storage_uri                    = {{ storage_uri }}
    }
    linux_profile {
        admin_username                 = {{ admin_username }}
        ssh_key {
            key_data                       = {{ key_data }}
        }
    }
    master_profile {
        count                          = {{ count }}
        dns_prefix                     = {{ dns_prefix }}
#       fqdn                           = {{ fqdn }}
    }
    service_principal {
        client_id                      = {{ client_id }}
        client_secret                  = {{ client_secret }}
    }
}
