resource "azurerm_api_management_property" "{{ tf_name }}" {
    api_management_name            = {{ api_management_name }}
    display_name                   = {{ display_name }}
#   id                             = {{ id }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
    secret                         = {{ secret }}
    tags                           = [{% for i_0 in tags %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    value                          = {{ value }}
}
