resource "azurerm_storage_table" "{{ tf_name }}" {
#   id                             = {{ id }}
    name                           = {{ name }}
#   resource_group_name            = {{ resource_group_name }}
    storage_account_name           = {{ storage_account_name }}
    acl {
        id                             = {{ id }}
        access_policy {
            expiry                         = {{ expiry }}
            permissions                    = {{ permissions }}
            start                          = {{ start }}
        }
    }
}
