resource "azurerm_dns_zone" "{{ tf_name }}" {
#   id                             = {{ id }}
#   max_number_of_record_sets      = {{ max_number_of_record_sets }}
    name                           = {{ name }}
#   name_servers                   = [{% for i_0 in name_servers %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

#   number_of_record_sets          = {{ number_of_record_sets }}
    registration_virtual_network_ids = [{% for i_0 in registration_virtual_network_ids %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    resolution_virtual_network_ids = [{% for i_0 in resolution_virtual_network_ids %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    resource_group_name            = {{ resource_group_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    zone_type                      = {{ zone_type }}
}
