resource "azurerm_virtual_network" "{{ tf_name }}" {
    address_space                  = [{% for i_0 in address_space %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    dns_servers                    = [{% for i_0 in dns_servers %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    ddos_protection_plan {
        enable                         = {{ enable }}
        id                             = {{ id }}
    }
    subnet {
        address_prefix                 = {{ address_prefix }}
#       id                             = {{ id }}
        name                           = {{ name }}
        security_group                 = {{ security_group }}
    }
}
