resource "azurerm_sql_elasticpool" "{{ tf_name }}" {
#   creation_date                  = {{ creation_date }}
#   db_dtu_max                     = {{ db_dtu_max }}
#   db_dtu_min                     = {{ db_dtu_min }}
    dtu                            = {{ dtu }}
    edition                        = {{ edition }}
#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
#   pool_size                      = {{ pool_size }}
    resource_group_name            = {{ resource_group_name }}
    server_name                    = {{ server_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

}
