resource "azurerm_hdinsight_hadoop_cluster" "{{ tf_name }}" {
    cluster_version                = {{ cluster_version }}
#   https_endpoint                 = {{ https_endpoint }}
#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
#   ssh_endpoint                   = {{ ssh_endpoint }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    tier                           = {{ tier }}
    component_version {
        hadoop                         = {{ hadoop }}
    }
    gateway {
        enabled                        = {{ enabled }}
        password                       = {{ password }}
        username                       = {{ username }}
    }
    roles {
        head_node {
            password                       = {{ password }}
            ssh_keys                       = [{% for i_2 in ssh_keys %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

            subnet_id                      = {{ subnet_id }}
            username                       = {{ username }}
            virtual_network_id             = {{ virtual_network_id }}
            vm_size                        = {{ vm_size }}
        }
        worker_node {
            min_instance_count             = {{ min_instance_count }}
            password                       = {{ password }}
            ssh_keys                       = [{% for i_2 in ssh_keys %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

            subnet_id                      = {{ subnet_id }}
            target_instance_count          = {{ target_instance_count }}
            username                       = {{ username }}
            virtual_network_id             = {{ virtual_network_id }}
            vm_size                        = {{ vm_size }}
        }
        zookeeper_node {
            password                       = {{ password }}
            ssh_keys                       = [{% for i_2 in ssh_keys %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

            subnet_id                      = {{ subnet_id }}
            username                       = {{ username }}
            virtual_network_id             = {{ virtual_network_id }}
            vm_size                        = {{ vm_size }}
        }
    }
    storage_account {
        is_default                     = {{ is_default }}
        storage_account_key            = {{ storage_account_key }}
        storage_container_id           = {{ storage_container_id }}
    }
}
