resource "azurerm_virtual_wan" "{{ tf_name }}" {
    allow_branch_to_branch_traffic = {{ allow_branch_to_branch_traffic }}
    allow_vnet_to_vnet_traffic     = {{ allow_vnet_to_vnet_traffic }}
    disable_vpn_encryption         = {{ disable_vpn_encryption }}
#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
    office365_local_breakout_category = {{ office365_local_breakout_category }}
    resource_group_name            = {{ resource_group_name }}
    security_provider_name         = {{ security_provider_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

}
