resource "azurerm_private_dns_zone" "{{ tf_name }}" {
#   id                             = {{ id }}
#   max_number_of_record_sets      = {{ max_number_of_record_sets }}
#   max_number_of_virtual_network_links = {{ max_number_of_virtual_network_links }}
#   max_number_of_virtual_network_links_with_registration = {{ max_number_of_virtual_network_links_with_registration }}
    name                           = {{ name }}
#   number_of_record_sets          = {{ number_of_record_sets }}
    resource_group_name            = {{ resource_group_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

}
