resource "azurerm_logic_app_trigger_custom" "{{ tf_name }}" {
    body                           = {{ body }}
#   id                             = {{ id }}
    logic_app_id                   = {{ logic_app_id }}
    name                           = {{ name }}
}
