resource "azurerm_policy_definition" "{{ tf_name }}" {
    description                    = {{ description }}
    display_name                   = {{ display_name }}
#   id                             = {{ id }}
    management_group_id            = {{ management_group_id }}
#   metadata                       = {{ metadata }}
    mode                           = {{ mode }}
    name                           = {{ name }}
    parameters                     = {{ parameters }}
    policy_rule                    = {{ policy_rule }}
    policy_type                    = {{ policy_type }}
}
