resource "azurerm_network_profile" "{{ tf_name }}" {
#   container_network_interface_ids = [{% for i_0 in container_network_interface_ids %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    container_network_interface {
        name                           = {{ name }}
        ip_configuration {
            name                           = {{ name }}
            subnet_id                      = {{ subnet_id }}
        }
    }
}
