resource "azurerm_sql_server" "{{ tf_name }}" {
    administrator_login            = {{ administrator_login }}
    administrator_login_password   = {{ administrator_login_password }}
#   fully_qualified_domain_name    = {{ fully_qualified_domain_name }}
#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    version                        = {{ version }}
}
