resource "azurerm_storage_share" "{{ tf_name }}" {
#   id                             = {{ id }}
    metadata                       = { {% for k, v in metadata.items() %}
                                     {{ k }} = {{ v }}{% endfor %}
                                     }

    name                           = {{ name }}
    quota                          = {{ quota }}
#   resource_group_name            = {{ resource_group_name }}
    storage_account_name           = {{ storage_account_name }}
#   url                            = {{ url }}
    acl {
        id                             = {{ id }}
        access_policy {
            expiry                         = {{ expiry }}
            permissions                    = {{ permissions }}
            start                          = {{ start }}
        }
    }
}
