resource "azurerm_image" "{{ tf_name }}" {
#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
    source_virtual_machine_id      = {{ source_virtual_machine_id }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    zone_resilient                 = {{ zone_resilient }}
    data_disk {
#       blob_uri                       = {{ blob_uri }}
        caching                        = {{ caching }}
        lun                            = {{ lun }}
        managed_disk_id                = {{ managed_disk_id }}
#       size_gb                        = {{ size_gb }}
    }
    os_disk {
#       blob_uri                       = {{ blob_uri }}
        caching                        = {{ caching }}
#       managed_disk_id                = {{ managed_disk_id }}
        os_state                       = {{ os_state }}
        os_type                        = {{ os_type }}
#       size_gb                        = {{ size_gb }}
    }
}
