resource "azurerm_network_interface" "{{ tf_name }}" {
#   applied_dns_servers            = [{% for i_0 in applied_dns_servers %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

#   dns_servers                    = [{% for i_0 in dns_servers %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

    enable_accelerated_networking  = {{ enable_accelerated_networking }}
    enable_ip_forwarding           = {{ enable_ip_forwarding }}
#   id                             = {{ id }}
#   internal_dns_name_label        = {{ internal_dns_name_label }}
#   internal_fqdn                  = {{ internal_fqdn }}
    location                       = {{ location }}
#   mac_address                    = {{ mac_address }}
    name                           = {{ name }}
    network_security_group_id      = {{ network_security_group_id }}
#   private_ip_address             = {{ private_ip_address }}
#   private_ip_addresses           = [{% for i_0 in private_ip_addresses %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

    resource_group_name            = {{ resource_group_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

#   virtual_machine_id             = {{ virtual_machine_id }}
    ip_configuration {
#       application_gateway_backend_address_pools_ids = [{% for i_1 in application_gateway_backend_address_pools_ids %}
#                                        {{ i_1 }}{% if not loop.last %},{% endif %}
#                                        {% endfor %}]

#       application_security_group_ids = [{% for i_1 in application_security_group_ids %}
#                                        {{ i_1 }}{% if not loop.last %},{% endif %}
#                                        {% endfor %}]

#       load_balancer_backend_address_pools_ids = [{% for i_1 in load_balancer_backend_address_pools_ids %}
#                                        {{ i_1 }}{% if not loop.last %},{% endif %}
#                                        {% endfor %}]

#       load_balancer_inbound_nat_rules_ids = [{% for i_1 in load_balancer_inbound_nat_rules_ids %}
#                                        {{ i_1 }}{% if not loop.last %},{% endif %}
#                                        {% endfor %}]

        name                           = {{ name }}
#       primary                        = {{ primary }}
        private_ip_address             = {{ private_ip_address }}
        private_ip_address_allocation  = {{ private_ip_address_allocation }}
        private_ip_address_version     = {{ private_ip_address_version }}
        public_ip_address_id           = {{ public_ip_address_id }}
        subnet_id                      = {{ subnet_id }}
    }
}
