resource "azurerm_app_service_source_control_token" "{{ tf_name }}" {
#   id                             = {{ id }}
    token                          = {{ token }}
    token_secret                   = {{ token_secret }}
    type                           = {{ type }}
}
