resource "azurerm_mysql_server" "{{ tf_name }}" {
    administrator_login            = {{ administrator_login }}
    administrator_login_password   = {{ administrator_login_password }}
#   fqdn                           = {{ fqdn }}
#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
    ssl_enforcement                = {{ ssl_enforcement }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    version                        = {{ version }}
    sku {
        capacity                       = {{ capacity }}
        family                         = {{ family }}
        name                           = {{ name }}
        tier                           = {{ tier }}
    }
    storage_profile {
        auto_grow                      = {{ auto_grow }}
        backup_retention_days          = {{ backup_retention_days }}
        geo_redundant_backup           = {{ geo_redundant_backup }}
        storage_mb                     = {{ storage_mb }}
    }
}
