resource "azurerm_maps_account" "{{ tf_name }}" {
#   id                             = {{ id }}
    name                           = {{ name }}
#   primary_access_key             = {{ primary_access_key }}
    resource_group_name            = {{ resource_group_name }}
#   secondary_access_key           = {{ secondary_access_key }}
    sku_name                       = {{ sku_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

#   x_ms_client_id                 = {{ x_ms_client_id }}
}
