resource "azurerm_eventgrid_domain" "{{ tf_name }}" {
#   endpoint                       = {{ endpoint }}
#   id                             = {{ id }}
    input_schema                   = {{ input_schema }}
    location                       = {{ location }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    input_mapping_default_values {
        data_version                   = {{ data_version }}
        event_type                     = {{ event_type }}
        subject                        = {{ subject }}
    }
    input_mapping_fields {
        data_version                   = {{ data_version }}
        event_time                     = {{ event_time }}
        event_type                     = {{ event_type }}
        id                             = {{ id }}
        subject                        = {{ subject }}
        topic                          = {{ topic }}
    }
}
