resource "azurerm_virtual_network_gateway_connection" "{{ tf_name }}" {
    authorization_key              = {{ authorization_key }}
#   enable_bgp                     = {{ enable_bgp }}
    express_route_circuit_id       = {{ express_route_circuit_id }}
#   express_route_gateway_bypass   = {{ express_route_gateway_bypass }}
#   id                             = {{ id }}
    local_network_gateway_id       = {{ local_network_gateway_id }}
    location                       = {{ location }}
    name                           = {{ name }}
    peer_virtual_network_gateway_id = {{ peer_virtual_network_gateway_id }}
    resource_group_name            = {{ resource_group_name }}
#   routing_weight                 = {{ routing_weight }}
    shared_key                     = {{ shared_key }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    type                           = {{ type }}
#   use_policy_based_traffic_selectors = {{ use_policy_based_traffic_selectors }}
    virtual_network_gateway_id     = {{ virtual_network_gateway_id }}
    ipsec_policy {
        dh_group                       = {{ dh_group }}
        ike_encryption                 = {{ ike_encryption }}
        ike_integrity                  = {{ ike_integrity }}
        ipsec_encryption               = {{ ipsec_encryption }}
        ipsec_integrity                = {{ ipsec_integrity }}
        pfs_group                      = {{ pfs_group }}
#       sa_datasize                    = {{ sa_datasize }}
#       sa_lifetime                    = {{ sa_lifetime }}
    }
}
