resource "azurerm_key_vault_key" "{{ tf_name }}" {
#   curve                          = {{ curve }}
#   e                              = {{ e }}
#   id                             = {{ id }}
    key_opts                       = [{% for i_0 in key_opts %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    key_size                       = {{ key_size }}
    key_type                       = {{ key_type }}
#   key_vault_id                   = {{ key_vault_id }}
#   n                              = {{ n }}
    name                           = {{ name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

#   vault_uri                      = {{ vault_uri }}
#   version                        = {{ version }}
#   x                              = {{ x }}
#   y                              = {{ y }}
}
