resource "azurerm_mysql_database" "{{ tf_name }}" {
    charset                        = {{ charset }}
    collation                      = {{ collation }}
#   id                             = {{ id }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
    server_name                    = {{ server_name }}
}
