resource "azurerm_autoscale_setting" "{{ tf_name }}" {
    enabled                        = {{ enabled }}
#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    target_resource_id             = {{ target_resource_id }}
    notification {
        email {
            custom_emails                  = [{% for i_2 in custom_emails %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

            send_to_subscription_administrator = {{ send_to_subscription_administrator }}
            send_to_subscription_co_administrator = {{ send_to_subscription_co_administrator }}
        }
        webhook {
            properties                     = { {% for k, v in properties.items() %}
                                             {{ k }} = {{ v }}{% endfor %}
                                             }

            service_uri                    = {{ service_uri }}
        }
    }
    profile {
        name                           = {{ name }}
        capacity {
            default                        = {{ default }}
            maximum                        = {{ maximum }}
            minimum                        = {{ minimum }}
        }
        fixed_date {
            end                            = {{ end }}
            start                          = {{ start }}
            timezone                       = {{ timezone }}
        }
        recurrence {
            days                           = [{% for i_2 in days %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

            hours                          = [{% for i_2 in hours %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

            minutes                        = [{% for i_2 in minutes %}
                                             {{ i_2 }}{% if not loop.last %},{% endif %}
                                             {% endfor %}]

            timezone                       = {{ timezone }}
        }
        rule {
            metric_trigger {
                metric_name                    = {{ metric_name }}
                metric_resource_id             = {{ metric_resource_id }}
                operator                       = {{ operator }}
                statistic                      = {{ statistic }}
                threshold                      = {{ threshold }}
                time_aggregation               = {{ time_aggregation }}
                time_grain                     = {{ time_grain }}
                time_window                    = {{ time_window }}
            }
            scale_action {
                cooldown                       = {{ cooldown }}
                direction                      = {{ direction }}
                type                           = {{ type }}
                value                          = {{ value }}
            }
        }
    }
}
