resource "azurerm_cosmosdb_account" "{{ tf_name }}" {
#   connection_strings             = [{% for i_0 in connection_strings %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

    enable_automatic_failover      = {{ enable_automatic_failover }}
    enable_multiple_write_locations = {{ enable_multiple_write_locations }}
#   endpoint                       = {{ endpoint }}
#   id                             = {{ id }}
    ip_range_filter                = {{ ip_range_filter }}
    is_virtual_network_filter_enabled = {{ is_virtual_network_filter_enabled }}
    kind                           = {{ kind }}
    location                       = {{ location }}
    name                           = {{ name }}
    offer_type                     = {{ offer_type }}
#   primary_master_key             = {{ primary_master_key }}
#   primary_readonly_master_key    = {{ primary_readonly_master_key }}
#   read_endpoints                 = [{% for i_0 in read_endpoints %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

    resource_group_name            = {{ resource_group_name }}
#   secondary_master_key           = {{ secondary_master_key }}
#   secondary_readonly_master_key  = {{ secondary_readonly_master_key }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

#   write_endpoints                = [{% for i_0 in write_endpoints %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

    capabilities {
        name                           = {{ name }}
    }
    consistency_policy {
        consistency_level              = {{ consistency_level }}
        max_interval_in_seconds        = {{ max_interval_in_seconds }}
        max_staleness_prefix           = {{ max_staleness_prefix }}
    }
    failover_policy {
#       id                             = {{ id }}
        location                       = {{ location }}
        priority                       = {{ priority }}
    }
    geo_location {
        failover_priority              = {{ failover_priority }}
#       id                             = {{ id }}
        location                       = {{ location }}
        prefix                         = {{ prefix }}
    }
    virtual_network_rule {
        id                             = {{ id }}
    }
}
