resource "azurerm_public_ip_prefix" "{{ tf_name }}" {
#   id                             = {{ id }}
#   ip_prefix                      = {{ ip_prefix }}
    location                       = {{ location }}
    name                           = {{ name }}
    prefix_length                  = {{ prefix_length }}
    resource_group_name            = {{ resource_group_name }}
    sku                            = {{ sku }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    zones                          = [{% for i_0 in zones %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

}
