resource "azurerm_traffic_manager_endpoint" "{{ tf_name }}" {
#   endpoint_location              = {{ endpoint_location }}
#   endpoint_monitor_status        = {{ endpoint_monitor_status }}
#   endpoint_status                = {{ endpoint_status }}
    geo_mappings                   = [{% for i_0 in geo_mappings %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

#   id                             = {{ id }}
    min_child_endpoints            = {{ min_child_endpoints }}
    name                           = {{ name }}
#   priority                       = {{ priority }}
    profile_name                   = {{ profile_name }}
    resource_group_name            = {{ resource_group_name }}
#   target                         = {{ target }}
    target_resource_id             = {{ target_resource_id }}
    type                           = {{ type }}
#   weight                         = {{ weight }}
    custom_header {
        name                           = {{ name }}
        value                          = {{ value }}
    }
    subnet {
        first                          = {{ first }}
        last                           = {{ last }}
        scope                          = {{ scope }}
    }
}
