resource "azurerm_marketplace_agreement" "{{ tf_name }}" {
#   id                             = {{ id }}
#   license_text_link              = {{ license_text_link }}
    offer                          = {{ offer }}
    plan                           = {{ plan }}
#   privacy_policy_link            = {{ privacy_policy_link }}
    publisher                      = {{ publisher }}
}
