resource "azurerm_cosmosdb_cassandra_keyspace" "{{ tf_name }}" {
    account_name                   = {{ account_name }}
#   id                             = {{ id }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
}
