resource "azurerm_traffic_manager_profile" "{{ tf_name }}" {
#   fqdn                           = {{ fqdn }}
#   id                             = {{ id }}
    name                           = {{ name }}
#   profile_status                 = {{ profile_status }}
    resource_group_name            = {{ resource_group_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    traffic_routing_method         = {{ traffic_routing_method }}
    dns_config {
        relative_name                  = {{ relative_name }}
        ttl                            = {{ ttl }}
    }
    monitor_config {
        interval_in_seconds            = {{ interval_in_seconds }}
        path                           = {{ path }}
        port                           = {{ port }}
        protocol                       = {{ protocol }}
        timeout_in_seconds             = {{ timeout_in_seconds }}
        tolerated_number_of_failures   = {{ tolerated_number_of_failures }}
    }
}
