resource "azurerm_batch_pool" "{{ tf_name }}" {
    account_name                   = {{ account_name }}
    display_name                   = {{ display_name }}
#   id                             = {{ id }}
    max_tasks_per_node             = {{ max_tasks_per_node }}
    name                           = {{ name }}
    node_agent_sku_id              = {{ node_agent_sku_id }}
    resource_group_name            = {{ resource_group_name }}
    stop_pending_resize_operation  = {{ stop_pending_resize_operation }}
    vm_size                        = {{ vm_size }}
    auto_scale {
        evaluation_interval            = {{ evaluation_interval }}
        formula                        = {{ formula }}
    }
    certificate {
        id                             = {{ id }}
        store_location                 = {{ store_location }}
        store_name                     = {{ store_name }}
        visibility                     = [{% for i_1 in visibility %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

    }
    container_configuration {
        container_registries           = [{% for i_1 in container_registries %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        type                           = {{ type }}
    }
    fixed_scale {
        resize_timeout                 = {{ resize_timeout }}
        target_dedicated_nodes         = {{ target_dedicated_nodes }}
        target_low_priority_nodes      = {{ target_low_priority_nodes }}
    }
    start_task {
        command_line                   = {{ command_line }}
        environment                    = { {% for k, v in environment.items() %}
                                         {{ k }} = {{ v }}{% endfor %}
                                         }

        max_task_retry_count           = {{ max_task_retry_count }}
        wait_for_success               = {{ wait_for_success }}
        resource_file {
            auto_storage_container_name    = {{ auto_storage_container_name }}
            blob_prefix                    = {{ blob_prefix }}
            file_mode                      = {{ file_mode }}
            file_path                      = {{ file_path }}
            http_url                       = {{ http_url }}
            storage_container_url          = {{ storage_container_url }}
        }
        user_identity {
            user_name                      = {{ user_name }}
            auto_user {
                elevation_level                = {{ elevation_level }}
                scope                          = {{ scope }}
            }
        }
    }
    storage_image_reference {
        id                             = {{ id }}
        offer                          = {{ offer }}
        publisher                      = {{ publisher }}
        sku                            = {{ sku }}
        version                        = {{ version }}
    }
}
