resource "azurerm_stream_analytics_stream_input_iothub" "{{ tf_name }}" {
    endpoint                       = {{ endpoint }}
    eventhub_consumer_group_name   = {{ eventhub_consumer_group_name }}
#   id                             = {{ id }}
    iothub_namespace               = {{ iothub_namespace }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
    shared_access_policy_key       = {{ shared_access_policy_key }}
    shared_access_policy_name      = {{ shared_access_policy_name }}
    stream_analytics_job_name      = {{ stream_analytics_job_name }}
    serialization {
        encoding                       = {{ encoding }}
        field_delimiter                = {{ field_delimiter }}
        type                           = {{ type }}
    }
}
