resource "azurerm_servicebus_namespace" "{{ tf_name }}" {
    capacity                       = {{ capacity }}
#   default_primary_connection_string = {{ default_primary_connection_string }}
#   default_primary_key            = {{ default_primary_key }}
#   default_secondary_connection_string = {{ default_secondary_connection_string }}
#   default_secondary_key          = {{ default_secondary_key }}
#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
    sku                            = {{ sku }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

}
