resource "azurerm_app_service_custom_hostname_binding" "{{ tf_name }}" {
    app_service_name               = {{ app_service_name }}
    hostname                       = {{ hostname }}
#   id                             = {{ id }}
    resource_group_name            = {{ resource_group_name }}
}
