resource "azurerm_dns_caa_record" "{{ tf_name }}" {
#   id                             = {{ id }}
    name                           = {{ name }}
    resource_group_name            = {{ resource_group_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    ttl                            = {{ ttl }}
    zone_name                      = {{ zone_name }}
    record {
        flags                          = {{ flags }}
        tag                            = {{ tag }}
        value                          = {{ value }}
    }
}
