resource "azurerm_template_deployment" "{{ tf_name }}" {
    deployment_mode                = {{ deployment_mode }}
#   id                             = {{ id }}
    name                           = {{ name }}
#   outputs                        = { {% for k, v in outputs.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    parameters                     = { {% for k, v in parameters.items() %}
                                     {{ k }} = {{ v }}{% endfor %}
                                     }

    parameters_body                = {{ parameters_body }}
    resource_group_name            = {{ resource_group_name }}
#   template_body                  = {{ template_body }}
}
