resource "azurerm_dns_cname_record" "{{ tf_name }}" {
#   id                             = {{ id }}
    name                           = {{ name }}
    record                         = {{ record }}
    records                        = {{ records }}
    resource_group_name            = {{ resource_group_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    ttl                            = {{ ttl }}
    zone_name                      = {{ zone_name }}
}
