resource "azurerm_kubernetes_cluster" "{{ tf_name }}" {
    api_server_authorized_ip_ranges = [{% for i_0 in api_server_authorized_ip_ranges %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    dns_prefix                     = {{ dns_prefix }}
#   enable_pod_security_policy     = {{ enable_pod_security_policy }}
#   fqdn                           = {{ fqdn }}
#   id                             = {{ id }}
#   kube_admin_config              = [{% for i_0 in kube_admin_config %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

#   kube_admin_config_raw          = {{ kube_admin_config_raw }}
#   kube_config                    = [{% for i_0 in kube_config %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

#   kube_config_raw                = {{ kube_config_raw }}
#   kubernetes_version             = {{ kubernetes_version }}
    location                       = {{ location }}
    name                           = {{ name }}
#   node_resource_group            = {{ node_resource_group }}
    resource_group_name            = {{ resource_group_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    addon_profile {
        aci_connector_linux {
            enabled                        = {{ enabled }}
            subnet_name                    = {{ subnet_name }}
        }
        http_application_routing {
            enabled                        = {{ enabled }}
#           http_application_routing_zone_name = {{ http_application_routing_zone_name }}
        }
        kube_dashboard {
            enabled                        = {{ enabled }}
        }
        oms_agent {
            enabled                        = {{ enabled }}
            log_analytics_workspace_id     = {{ log_analytics_workspace_id }}
        }
    }
    agent_pool_profile {
        availability_zones             = [{% for i_1 in availability_zones %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

        count                          = {{ count }}
#       dns_prefix                     = {{ dns_prefix }}
        enable_auto_scaling            = {{ enable_auto_scaling }}
#       fqdn                           = {{ fqdn }}
        max_count                      = {{ max_count }}
#       max_pods                       = {{ max_pods }}
        min_count                      = {{ min_count }}
        name                           = {{ name }}
        node_taints                    = [{% for i_1 in node_taints %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

#       os_disk_size_gb                = {{ os_disk_size_gb }}
        os_type                        = {{ os_type }}
        type                           = {{ type }}
        vm_size                        = {{ vm_size }}
        vnet_subnet_id                 = {{ vnet_subnet_id }}
    }
    linux_profile {
        admin_username                 = {{ admin_username }}
        ssh_key {
            key_data                       = {{ key_data }}
        }
    }
    network_profile {
#       dns_service_ip                 = {{ dns_service_ip }}
#       docker_bridge_cidr             = {{ docker_bridge_cidr }}
        load_balancer_sku              = {{ load_balancer_sku }}
        network_plugin                 = {{ network_plugin }}
#       network_policy                 = {{ network_policy }}
#       pod_cidr                       = {{ pod_cidr }}
#       service_cidr                   = {{ service_cidr }}
    }
    role_based_access_control {
        enabled                        = {{ enabled }}
        azure_active_directory {
            client_app_id                  = {{ client_app_id }}
            server_app_id                  = {{ server_app_id }}
            server_app_secret              = {{ server_app_secret }}
#           tenant_id                      = {{ tenant_id }}
        }
    }
    service_principal {
        client_id                      = {{ client_id }}
        client_secret                  = {{ client_secret }}
    }
    windows_profile {
        admin_password                 = {{ admin_password }}
        admin_username                 = {{ admin_username }}
    }
}
