resource "azurerm_api_management_user" "{{ tf_name }}" {
    api_management_name            = {{ api_management_name }}
    confirmation                   = {{ confirmation }}
    email                          = {{ email }}
    first_name                     = {{ first_name }}
#   id                             = {{ id }}
    last_name                      = {{ last_name }}
    note                           = {{ note }}
    password                       = {{ password }}
    resource_group_name            = {{ resource_group_name }}
#   state                          = {{ state }}
    user_id                        = {{ user_id }}
}
