resource "azurerm_servicebus_queue" "{{ tf_name }}" {
#   auto_delete_on_idle            = {{ auto_delete_on_idle }}
    dead_lettering_on_message_expiration = {{ dead_lettering_on_message_expiration }}
#   default_message_ttl            = {{ default_message_ttl }}
#   duplicate_detection_history_time_window = {{ duplicate_detection_history_time_window }}
    enable_batched_operations      = {{ enable_batched_operations }}
    enable_express                 = {{ enable_express }}
    enable_partitioning            = {{ enable_partitioning }}
#   id                             = {{ id }}
    location                       = {{ location }}
#   lock_duration                  = {{ lock_duration }}
    max_delivery_count             = {{ max_delivery_count }}
#   max_size_in_megabytes          = {{ max_size_in_megabytes }}
    name                           = {{ name }}
    namespace_name                 = {{ namespace_name }}
    requires_duplicate_detection   = {{ requires_duplicate_detection }}
    requires_session               = {{ requires_session }}
    resource_group_name            = {{ resource_group_name }}
    support_ordering               = {{ support_ordering }}
}
