resource "azurerm_data_factory_pipeline" "{{ tf_name }}" {
    annotations                    = [{% for i_0 in annotations %}
                                     {{ i_0 }}{% if not loop.last %},{% endif %}
                                     {% endfor %}]

    data_factory_name              = {{ data_factory_name }}
    description                    = {{ description }}
#   id                             = {{ id }}
    name                           = {{ name }}
    parameters                     = { {% for k, v in parameters.items() %}
                                     {{ k }} = {{ v }}{% endfor %}
                                     }

    resource_group_name            = {{ resource_group_name }}
    variables                      = { {% for k, v in variables.items() %}
                                     {{ k }} = {{ v }}{% endfor %}
                                     }

}
