resource "azurerm_network_connection_monitor" "{{ tf_name }}" {
    auto_start                     = {{ auto_start }}
#   id                             = {{ id }}
    interval_in_seconds            = {{ interval_in_seconds }}
    location                       = {{ location }}
    name                           = {{ name }}
    network_watcher_name           = {{ network_watcher_name }}
    resource_group_name            = {{ resource_group_name }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    destination {
        address                        = {{ address }}
        port                           = {{ port }}
        virtual_machine_id             = {{ virtual_machine_id }}
    }
    source {
        port                           = {{ port }}
        virtual_machine_id             = {{ virtual_machine_id }}
    }
}
