resource "azurerm_lb" "{{ tf_name }}" {
#   id                             = {{ id }}
    location                       = {{ location }}
    name                           = {{ name }}
#   private_ip_address             = {{ private_ip_address }}
#   private_ip_addresses           = [{% for i_0 in private_ip_addresses %}
#                                    {{ i_0 }}{% if not loop.last %},{% endif %}
#                                    {% endfor %}]

    resource_group_name            = {{ resource_group_name }}
    sku                            = {{ sku }}
#   tags                           = { {% for k, v in tags.items() %}
#                                    {{ k }} = {{ v }}{% endfor %}
#                                    }

    frontend_ip_configuration {
#       inbound_nat_rules              = [{% for i_1 in inbound_nat_rules %}
#                                        {{ i_1 }}{% if not loop.last %},{% endif %}
#                                        {% endfor %}]

#       load_balancer_rules            = [{% for i_1 in load_balancer_rules %}
#                                        {{ i_1 }}{% if not loop.last %},{% endif %}
#                                        {% endfor %}]

        name                           = {{ name }}
#       outbound_rules                 = [{% for i_1 in outbound_rules %}
#                                        {{ i_1 }}{% if not loop.last %},{% endif %}
#                                        {% endfor %}]

#       private_ip_address             = {{ private_ip_address }}
#       private_ip_address_allocation  = {{ private_ip_address_allocation }}
#       public_ip_address_id           = {{ public_ip_address_id }}
#       public_ip_prefix_id            = {{ public_ip_prefix_id }}
#       subnet_id                      = {{ subnet_id }}
        zones                          = [{% for i_1 in zones %}
                                         {{ i_1 }}{% if not loop.last %},{% endif %}
                                         {% endfor %}]

    }
}
