resource "azurerm_servicebus_subscription" "{{ tf_name }}" {
#   auto_delete_on_idle            = {{ auto_delete_on_idle }}
    dead_lettering_on_filter_evaluation_exceptions = {{ dead_lettering_on_filter_evaluation_exceptions }}
    dead_lettering_on_message_expiration = {{ dead_lettering_on_message_expiration }}
#   default_message_ttl            = {{ default_message_ttl }}
    enable_batched_operations      = {{ enable_batched_operations }}
    forward_to                     = {{ forward_to }}
#   id                             = {{ id }}
    location                       = {{ location }}
#   lock_duration                  = {{ lock_duration }}
    max_delivery_count             = {{ max_delivery_count }}
    name                           = {{ name }}
    namespace_name                 = {{ namespace_name }}
    requires_session               = {{ requires_session }}
    resource_group_name            = {{ resource_group_name }}
    topic_name                     = {{ topic_name }}
}
