resource "azuread_user" "{{ tf_name }}" {
    account_enabled                = {{ accountEnabled }}
    display_name                   = "{{ displayName }}"
    force_password_change          = {{ force_password_change|default("false", true) }}
#   id                             = "{{ objectId }}"
#   mail                           = "{{ mail }}"
#   mail_nickname                  = "{{ mailNickname }}"
#   object_id                      = "{{ objectId }}"
    password                       = "#########"
    user_principal_name            = "{{ userPrincipalName }}"
    lifecycle {
        ignore_changes = [
            password,
            force_password_change
        ]
    }
}
