resource "azuread_group" "{{tf_name}}" {
    members = [
    {% for member in members %}    "{{ member }}"{% if not loop.last %},{% endif %}
    {% endfor %}]
    name      = "{{displayName}}"
    owners    = [
    {% for owner in owners %}    "{{ owner }}"{% if not loop.last %},{% endif %}
    {% endfor %}]
}
