resource "azuread_application" "{{ tf_name }}" {
  available_to_other_tenants = {{ availableToOtherTenants }}
  name                       = "{{ displayName}}"
  oauth2_allow_implicit_flow = {{ oauth2AllowImplicitFlow }}
  identifier_uris = [
      {% for uri in identifierUris %}    "{{ uri }}"{% if not loop.last %},{% endif %}
      {% endfor %}]
  reply_urls = [
      {% for url in replyUrls %}    "{{ url }}"{% if not loop.last %},{% endif %}
      {% endfor %}]
  {% for required_resource_access in requiredResourceAccess %}
  required_resource_access {
    resource_app_id = "{{ required_resource_access.resourceAppId }}"
    {% for resourceAccess in required_resource_access.resourceAccess %}resource_access {
        id   = "{{ resourceAccess.id }}"
        type = "{{ resourceAccess.type }}"
    }
    {% endfor %}
  }
  {% endfor %}
  # homepage                   = "{{ homepage }}"
  # id                       = "{{ objectId }}"
  # object_id                  = "eb7d0c70-3365-494c-9cad-fc4ce1b1246b"
  # public_client = {{ publicClient }}
  # application_id           = "{{ appId }}"
}
