resource "azuread_service_principal" "{{ tf_name }}" {
  application_id = "{{ appId }}"
  app_role_assignment_required = {{ appRoleAssignmentRequired }}
  # display_name    = "{{ displayName }}"
  # id = "{{ objectId }}"
  # object_id = "{{ objectId }}"
  tags = [
  {% for tag in tags %}    "{{ tag }}"{% if not loop.last %},{% endif %}
  {% endfor %}]
}
