resource "azuread_user" "{{ tf_name }}" {
    account_enabled                = {{ account_enabled }}
    display_name                   = {{ display_name }}
    force_password_change          = {{ force_password_change }}
#   id                             = {{ id }}
#   mail                           = {{ mail }}
#   mail_nickname                  = {{ mail_nickname }}
#   object_id                      = {{ object_id }}
    password                       = {{ password }}
    user_principal_name            = {{ user_principal_name }}
}
